<section id="about-pmaps" class="team">
    <div class="content-wrapper" style="padding-left: 50px;">
        <div class="col-lg-10 col-lg-offset-1 text-left">
            <p class="text-left">
                <a href="https://www.pmaps.world/" target="_blank">Probabilistic Methods Applied to Power Systems (PMAPS) conference</a>
                has been a key specialist conference about probabilistic modelling of phenomena and processes in
                power systems since 1986 and contributed, through the international exchange of practices and
                experiences, to the safe and secure planning and operation of power systems characterised with a
                plethora of uncertainties. The importance of probabilistic modelling, and efficient computational and
                mathematical methods to deal with inherent system uncertainties, becomes even more important for future
                power systems. These will be characterised by increased uncertainties in operational practices and
                increased reliance on non-conventional, uncertain, and intermittent power electronics connected
                generation, load and storage technologies. The deterministic tools and models that are still
                predominantly used for system analysis, planning and operation will not be adequate anymore and new
                probabilistic, artificial intelligence, and risk-based approaches will be needed and put into everyday
                use.
            </p>
        </div>
    </div>
</section>
