<section id="author-info">
    <div class="content-wrapper" style="padding-left: 50px;">
        <div id="important-dates" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Important Dates</h4>
            {% for statistic in site.statisticBlock %}
            <p>
                <span class="stat-info" style="color: #03a9f4;"><strong>{{ statistic.date}}</strong> - </span>
                {{ statistic.info | downcase }}
            </p>
            {% endfor %}
        </div>
        <div id="technical-themes" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Technical Themes</h4>
            <p class="text-left">
            The technical content at the conference will be categorised under the following high level themes to allow conference attendees to quickly identify aspects of key interest. All papers submitted to the conference will have to include modelling or analysis methods based on probabilistic techniques in order to ensure relevance to all conference delegates and to maintain the focused scope of this conference.
            </p>
            <h6>Asset Health and Management</h6>
            <ul style="font-weight: normal;">
                <li>Reliability-centred maintenance and asset management</li>
                <li>Power quality and condition monitoring</li>
                <li>End-of-life prognosis and ageing assessment tools</li>
            </ul>
            <h6>Dealing With Extreme Events</h6>
            <ul style="font-weight: normal;">
                <li>Risk management and decision making under uncertainty</li>
                <li>High impact low probability events</li>
                <li>Cascading failures in electric power systems</li>
                <li>Resilience enhancement and optimisation against extreme events</li>
                <li>Outage data analysis and data-driven resilience assessment tools</li>
            </ul>
            <h6>Network Planning and Operation</h6>
            <ul style="font-weight: normal;">
                <li>Handling correlated uncertainties and big data</li>
                <li>Probabilistic load and generation forecasting</li>
                <li>Integration of uncertain energy sources</li>
                <li>Stochastic/probabilistic optimisation and simulation techniques</li>
                <li>Stochastic/probabilistic social and behavioural modelling and technological impacts</li>
            </ul>
            <h6>Whole Systems Analysis</h6>
            <ul style="font-weight: normal;">
                <li>Reliability of interdependent critical infrastructure systems</li>
                <li>Probabilistic modelling of cyber-physical systems</li>
                <li>Probabilistic modelling of multi-energy systems</li>
                <li>Probabilistic modelling and simulation of integrated energy systems</li>
            </ul>
        </div>
        <div id="call-for-papers" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Call for Papers</h4>
            <p class="text-left">
                The link to submit your full paper will appear on the website in due course. Please carefully read the
                instructions below before submitting your paper.
                You can also download <a href="{{ site.baseurl}}/img/PMAPS2022-Call-for-Papers.pdf">Call For
                Papers</a> as a PDF document.</p>
            </p>
            <p class="text-left">
                To comply with IEEE guidelines, your paper should satisfy the following requirements:
            <ul style="font-weight: normal;">
                <li>the paper must fit the scope of the conference (if you are not sure, please <a
                        href="mailto:{{ site.email }} ">get in touch</a> to ask).
                </li>
                <li>the paper must not exceed the 6 page limit.</li>
                <li>the layout of the paper submitted must strictly follow the <a
                        href="https://www.ieee-pes.org/templates-and-sample-of-pes-technical-papers" target="_blank">IEEE
                    PES conference paper template</a>. Please do not submit using the “Transactions/Journal Papers”
                    template.
                </li>
            </ul>
            </p>
            <p class="text-left">
                Corresponding authors will be notified by email and will receive the instructions to transfer the
                copyright of their paper to IEEE. Note that this is required to include your paper in the Proceedings.
                In addition, note that papers will only be included in IEEE Xplore if presented by one of the authors.
            </p>
            <p class="text-left">
                Important dates:
            <ul style="font-weight: normal;">
                <li>Deadline: 15 December 2021</li>
                <li>Notification of acceptance: 15 March 2022</li>
                <li>Final paper uploads: 15 April 2022</li>
            </ul>
            </p>
            <h6>Transaction Papers</h6>
            <p class="text-left">
                Authors of recently accepted but not yet published relevant IEEE PES Transactions Papers covering one of the conference themes
                are invited to submit their papers to PMAPS 2022 (please see the
                list of eligible Transactions below). The link to
                submit the details of your paper (code, title, authors, and abstract) will appear here in due course.
                These papers will be directly accepted without further review and will be allocated to an oral
                presentation session.
            <ul style="font-weight: normal;">
                <li>IEEE Transactions on Power Systems</li>
                <li>IEEE Transactions on Power Delivery</li>
                <li>IEEE Transactions on Energy Conversion</li>
                <li>IEEE Transactions on Smart Grid</li>
                <li>IEEE Transactions on Sustainable Energy</li>
            </ul>
            </p>
            <p class="text-left">
                PES Transactions papers will only be eligible for presentation if they are available on IEEE Xplore
                (Early
                Access included) and have a publication date no earlier than 15 December 2021.
            </p>
            <h6>Roy Billington Student Paper Award</h6>
            <p class="text-left">
                To acknowledge and encourage excellence in power system uncertainty research by students, a prize for
                the “Best Student Paper” will be awarded. <a
                    href="https://www.ieee-pes.org/roy-billinton-power-system-reliability-award" target="_blank">
                The Roy Billinton Award</a> recognizes outstanding work by
                students in the field of Probabilistic Methods and Practical Approaches for managing Risk and
                Uncertainty in the Electric Power Industry.
                Eligibility for the award is restricted to papers which are first-authored by a student. More
                information regarding the award will be announced at a later time.
                If your paper is eligible for this award and if you want to be considered for the Roy Billinton Award
                then please select the appropriate box in the submission system.
            </p>
        </div>
        <div id="call-for-tutorials" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Call for Tutorials</h4>
            <p class="text-left">
                We invite proposals for half or full day tutorials. Tutorials will take place on Sunday 12th June
                2022 from 9:00am to 5:00pm. Half day tutorials will be comprised of two 1.5 hour blocks during the
                morning
                or afternoon. Full day tutorials will be comprised of four 1.5 hour blocks.
                The content of the tutorials can be either broad to serve as an introduction to a topic, or deep in
                order to focus on cutting-edge developments.
                You can also download <a href="{{ site.baseurl}}/img/PMAPS2022-Call-for-Tutorials.pdf">Call For
                Tutorials</a> as a PDF document.
            </p>
            <p class="text-left">
            <ul style="font-weight: normal;">
                <li>Tutorial title</li>
                <li>Tutorial organiser (name, affiliation, contact e-mail, and a short CV or link)</li>
                <li>List of speakers (name, affiliation, contact e-mail, and a short CV or link). It can be only the
                    organiser.
                </li>
                <li>Abstract. No more than 300 words.</li>
                <li>Length. Half day (two 1.5 hour blocks) or full day (four 1.5 hour blocks).</li>
                <li>Structure. Topics to be addressed in each block.</li>
                <li>Special requirements. Please indicate whether there is any special requirements for the attendees
                    (e.g., attendees need to bring laptops or have specialised software already installed).
                </li>
                <li>Previous experience. Please state if you have already organized a tutorial on the same or similar
                    topic in a previous conference. Provide details as necessary (e.g., title, year, number of
                    attendees).
                </li>
            </ul>
            </p>
            <p class="text-left">
                Tutorials will be allocated infrastructure (room, AV equipment, etc.) and will be advertised along with
                the different activities of PMAPS 2022. The organiser (or designated speaker) will be given one (1) free
                registration for the whole conference. However, it is a requirement that all other speakers register for
                the conference unless their attendance is limited to the corresponding tutorial. The PMAPS 2022
                conference organisers will not cover travel-related expenses. All income resulting from tutorial ticket
                sales goes to PMAPS 2022.
            </p>
            <p class="text-left">
                Important dates:
            <ul style="font-weight: normal;">
                <li>Deadline: 15 December 2021</li>
                <li>Notification of acceptance: 14 January 2022</li>
                <li>Final tutorial presentation uploads (PPT or PDF): 27 May 2022</li>
            </ul>
            </p>
        </div>
        <div id="paper-preparation" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Paper Preparation</h4>
            <p class="text-left">
                To comply with IEEE guidelines, your paper should satisfy the following requirements:
            </p>
            <p class="text-left">
            <ul style="font-weight: normal;">
                <li>the paper must fit the scope of the conference (if you are not sure, please <a href="mailto:{{ site.email }} ">get in touch</a> to ask).</li>
                <li>the paper must not exceed the 6-page limit.</li>
                <li>the abstract must not exceed 150 words (<a
                    href="https://www.ieee-pes.org/part-4b-preparation-of-a-formatted-conference-paper-for-the-ieee-power-energy-society" target="_blank">
                Formatted Conference Paper for the IEEE PES</a>).</li>
                <li>the keywords must not exceed 5 words (<a
                    href="https://www.ieee-pes.org/part-4b-preparation-of-a-formatted-conference-paper-for-the-ieee-power-energy-society" target="_blank">
                Formatted Conference Paper for the IEEE PES</a>).</li>
                <li>the layout of the paper submitted must strictly follow the <a
                    href="https://www.ieee.org/conferences/publishing/templates.html" target="_blank">
                IEEE A4 format LaTeX or Microsoft Word templates</a>. Make sure it is A4 and not Letter format. </li>
            </ul>
            </p>
            <p class="text-left">
                Following acceptance, corresponding authors will be notified by email and will receive the instructions to transfer the copyright of their paper to IEEE. Note that this is required to include your paper in the Proceedings. In addition, note that papers will only be included in IEEE Xplore if presented by one of the authors at the conference. 
            </p>
            <h6>Preparation of Final Camera-ready Manuscript</h6>
            <p class="text-left">
                Authors of accepted papers are required to submit their final papers and IEEE Copyright Forms by <strong> 15 April 2022</strong>.
            </p>
            <p class="text-left">
                Information for the preparation and submission of final papers will be available soon.
            </p>
            <p class="text-left">
            <ul style="font-weight: normal;">
                <strong>Important note:</strong> Manuscripts will be checked for plagiarism and multiple publications using <a
                    href="https://crosscheck.ieee.org" target="_blank">
                IEEE CrossCheck Portal</a>. Submitting authors will be checked to see if they have they been prohibited from publishing with any or all IEEE publications using The IEEE Prohibited Authors List (PAL) Database.
            </ul>
            </p>
        </div>
        <div id="review-process" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Review Process</h4>
            <p class="text-left">
                To ensure high-quality contributions and an excellent conference, all papers will go through a single-blind review and selection process. Following review by expert peers, led by the International Technical Advisory Committee, each paper will be classified as <strong>“not-accepted”</strong>, <strong>“accepted”</strong>, or <strong>“conditionally accepted”</strong>.
            </p>
            <p class="text-left">
                The authors of <strong>“conditionally accepted”</strong> papers will be invited to submit a revised version after addressing the reviewers’ comments. <strong>“Conditionally accepted”</strong> papers that do not appropriately address reviewers’ comments will be rejected.
            </p>
        </div>