<section id="author-info">
    <div class="col-lg-10 col-lg-offset-1 text-left" style="padding-left: 60px;">
            <p class="text-left"><strong>Due to the ongoing very high COVID case rates in the UK and around the world, and the uncertainty with respect to future travel opportunities, we have decided to host PMAPS 2022 as a fully online conference to maximise the participation of our research community. We know that this will change the decisions of some people with respect to submitting papers and attending, so we are further extending the submission deadline (one last time!) until the 14th February 2022. If you have already submitted a paper, we will contact all corresponding authors directly.</strong></p>
        </div>
    <div class="content-wrapper" style="padding-left: 50px;">
        <div id="important-dates" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Important Dates</h4>
            {% for statistic in site.statisticBlock %}
            <p>
                <span class="stat-info" style="color: #03a9f4;"><strong>{{ statistic.date}}</strong> - </span>
                {{ statistic.info | downcase }}
            </p>
            {% endfor %}
        </div>
        <div id="technical-themes" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Technical Themes</h4>
            <p class="text-left">
            The technical content at the conference will be categorised under the following high level themes to allow conference attendees to quickly identify aspects of key interest. All papers submitted to the conference will have to include modelling or analysis methods based on probabilistic techniques in order to ensure relevance to all conference delegates and to maintain the focused scope of this conference.
            </p>
            <h6>Asset Health and Management</h6>
            <ul style="font-weight: normal;">
                <li>Reliability-centred maintenance and asset management</li>
                <li>Power quality and condition monitoring</li>
                <li>End-of-life prognosis and ageing assessment tools</li>
            </ul>
            <h6>Dealing With Extreme Events</h6>
            <ul style="font-weight: normal;">
                <li>Risk management and decision making under uncertainty</li>
                <li>High impact low probability events</li>
                <li>Cascading failures in electric power systems</li>
                <li>Resilience enhancement and optimisation against extreme events</li>
                <li>Outage data analysis and data-driven resilience assessment tools</li>
            </ul>
            <h6>Network Planning and Operation</h6>
            <ul style="font-weight: normal;">
                <li>Handling correlated uncertainties and big data</li>
                <li>Probabilistic load and generation forecasting</li>
                <li>Integration of uncertain energy sources</li>
                <li>Stochastic/probabilistic optimisation and simulation techniques</li>
                <li>Stochastic/probabilistic social and behavioural modelling and technological impacts</li>
            </ul>
            <h6>Whole Systems Analysis</h6>
            <ul style="font-weight: normal;">
                <li>Reliability of interdependent critical infrastructure systems</li>
                <li>Probabilistic modelling of cyber-physical systems</li>
                <li>Probabilistic modelling of multi-energy systems</li>
                <li>Probabilistic modelling and simulation of integrated energy systems</li>
            </ul>
        </div>
        <div id="paper-preparation" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Paper Preparation</h4>
            <p class="text-left">
                To comply with IEEE guidelines, your paper should satisfy the following requirements:
            </p>
            <p class="text-left">
            <ul style="font-weight: normal;">
                <li>the paper must fit the scope of the conference (if you are not sure, please <a href="mailto:{{ site.email }} ">get in touch</a> to ask).</li>
                <li>the paper must not exceed the 6-page limit.</li>
                <li>the abstract must not exceed 150 words (<a
                    href="https://www.ieee-pes.org/part-4b-preparation-of-a-formatted-conference-paper-for-the-ieee-power-energy-society" target="_blank">
                Formatted Conference Paper for the IEEE PES</a>).</li>
                <li>the keywords must not exceed 5 words (<a
                    href="https://www.ieee-pes.org/part-4b-preparation-of-a-formatted-conference-paper-for-the-ieee-power-energy-society" target="_blank">
                Formatted Conference Paper for the IEEE PES</a>).</li>
                <li>the layout of the paper submitted must strictly follow the <a
                    href="https://www.ieee.org/conferences/publishing/templates.html" target="_blank">
                IEEE A4 format LaTeX or Microsoft Word templates</a>. Make sure it is A4 and not Letter format. </li>
            </ul>
            </p>
            <p class="text-left">
                Following acceptance, corresponding authors will be notified by email and will receive the instructions to transfer the copyright of their paper to IEEE. Note that this is required to include your paper in the Proceedings. In addition, note that papers will only be included in IEEE Xplore if presented by one of the authors at the conference. 
            </p>
        </div>
        <div id="review-process" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Review Process</h4>
            <p class="text-left">
                To ensure high-quality contributions and an excellent conference, all papers will go through a single-blind review and selection process. Following review by expert peers, led by the International Technical Advisory Committee, each paper will be classified as <strong>“not-accepted”</strong>, <strong>“accepted”</strong>, or <strong>“conditionally accepted”</strong>.
            </p>
            <p class="text-left">
                The authors of <strong>“conditionally accepted”</strong> papers will be invited to submit a revised version after addressing the reviewers’ comments. <strong>“Conditionally accepted”</strong> papers that do not appropriately address reviewers’ comments will be rejected.
            </p>
        </div>
        <div id="paper-submission" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Paper Submission</h4>
            <p class="text-left">
                Visit the <a href="https://www.openconf.org/pmaps2022/openconf.php" target="_blank">OpenConf Home</a> page to be able to see the function hyperlinks under "Authors". These allow you to create or edit your submission.
            </p>
            <h6>Step 1 – Make Submission:</h6>
            <p class="text-left">
                Begin the submission process by providing the basic details and authorship of your paper. To do so, click on the <a href="https://www.openconf.org/pmaps2022/openconf.php" target="_blank">OpenConf Home</a> page, "Make Submission" hyperlink (or <a href="https://www.openconf.org/pmaps2022/author/submit.php" target="_blank">Here</a>). Make sure that you set a password, which is required for the PDF upload file procedure.
            </p>
            <h6>Step 2 – Upload File:</h6>
            <p class="text-left">
                After completing Step 1, you will receive an email with a Submission ID allowing you to upload your paper to complete the process. You need (a) to fill the Submission ID, (b) the Password set in step 1 and (c) to press "Choose File" for uploading the pdf version of your paper. To do so, click on the <a href="https://www.openconf.org/pmaps2022/openconf.php" target="_blank">OpenConf Home</a> page "Upload File" hyperlink (or <a href="https://www.openconf.org/pmaps2022/author/upload.php" target="_blank">Here</a>).
            </p>
            <h6>Other OpenConf Home Functionalities:</h6>
            <p class="text-left">
            <ul style="font-weight: normal;">
                <li> <strong>Edit Submission: </strong> Add/Edit information of your paper. This is needed when you wish to modify Abstract, Title, Authorship and other details of your paper (Submission ID, Password are required). Please note that you will need to re-upload the PDF version (Step 2) in case that you edit the submission details.</li>
                <li> <strong>View File:</strong> This allows you to view the current version of your paper stored on the conference server (Submission ID, Password are required).</li>
                <li> <strong>Withdraw Submission:</strong>  This allows you to Withdraw your submission completely from the review procedure and the conference.</li>
            </ul>
            </p>
         </div>
        <div id="preparation-of-final-camera-ready-manuscript" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Preparation of Final Camera-ready Manuscript</h4>
            <p class="text-left">
                Authors of the accepted paper are required to submit the final paper and IEEE Copyright Form by <strong>15 April 2022</strong>.
            </p>
            <p class="text-left">
                Final papers must be prepared and submitted using the following steps:
            </p>
            <h6>Step 1 – Prepare Your Final Paper</h6>
            <h6>Step 2 – Add Copyright information to the first page of the paper</h6>
            <p class="text-left">
                The appropriate <strong>copyright notice</strong> is to appear on the bottom of the first page (footer) of each paper according to the guidelines set forth for an IEEE Conference Publication. All papers should include as a footer on the first page the appropriate copyright notice (left footer) from the following options.  
            </p>
            <p class="text-left">
            <ul style="font-weight: normal;">
                <li> For papers in which all authors are employed by the US government, the copyright notice is: <strong>“U.S. Government work not protected by U.S. copyright”</strong> </li>
                <li> For papers in which all authors are employed by a Crown government (UK, Canada, and Australia), the copyright notice is: <strong>“978-1-6654-1211-7/22/$31.00 ©2022 Crown”</strong></li>
                <li> For papers in which all authors are employed by the European Union, the copyright notice is: <strong>“978-1-6654-1211-7/22/$31.00 ©2022 European Union”</strong></li>
                <li> For all other papers, the copyright notice is: <strong>“978-1-6654-1211-7/22/$31.00 ©2022 IEEE”</strong> </li>
            </ul>
            </p>
            <h6>Step 3 – IEEE Style Check of Your Final Paper</h6>
            <p class="text-left">
            <ol style="font-weight: normal;">
                <li> Access the <a href="https://ieee-pdf-express.org/" target="_blank">IEEE PDF eXpress</a> website (<strong>will open on 15 April 2022</strong>)  and login using Conference ID: <strong>53380X</strong>. </li>
                <li> Create a new account if you are a first-time user.</li>
                <li> For each conference paper, click "Create New Title".</li>
                <li> Enter identifying text for the paper (the title is recommended).</li>
                <li> Click "Submit PDF for Checking" or "Submit Source Files for Conversion". Please make sure that you have finished Step 2 (i.e. copyright information) already.</li>
                <li> Indicate platform, source file type (if applicable), click Browse and navigate to file, and click "Upload File". You will receive online and email confirmation of successful upload.</li>
                <li> You will receive an email with your Checked PDF or IEEE PDF eXpress Plus-converted PDF attached. If you submitted a PDF for checking, the email will show if your file passed or failed.</li>
                <li> Once your paper is approved, pdf-express will send you a PDF file. <strong>You must submit the PDF file sent to you by pdf-express.</strong> Do not submit the original file!!</li>
                Papers without the compliance proof <strong>will not</strong> be included in the IEEE Xplore database.
            </ol>
            </p>
            <h6>Step 4 – Sign the IEEE Copyright Form for each paper</h6>
            <p class="text-left">
            <ol style="font-weight: normal;">
                <li> Login to <a href="https://www.openconf.org/pmaps2022/openconf.php" target="_blank">OpenConf</a> using your account details and click on the “Submit Copyright” link.</li>
                <li> Use your Submission ID and Password and follow the steps to be redirected to “IEEE Publication Agreement.” The steps in the IEEE pages are self-explanatory.</li>
            </ol>
            </p>
            <ul style="font-weight: normal;">
                Note: In case the Author names are not correct, leave the IEEE page and make sure that you change the names in <a href="https://www.openconf.org/pmaps2022/openconf.php" target="_blank">OpenConf</a> platform via the “Edit Submission” link and repeat the procedure from the start.
            </ul>         
            <p class="text-left">
                <strong>Important note:</strong> Manuscripts will be checked for plagiarism and multiple publications using IEEE CrossCheck Portal (<a href="https://crosscheck.ieee.org" target="_blank">https://crosscheck.ieee.org</a>). Submitting authors will be checked to see if they have they been prohibited from publishing with any or all IEEE publications using The IEEE Prohibited Authors List (PAL) Database.  
            </p>
         </div>
</section>