<section id="author-info" class="team">
    <div class="content-wrapper" style="padding-left: 50px;">
        <div id="important-dates" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Important dates</h4>
            {% for statistic in site.statisticBlock %}
                <p>{{ statistic.info}}: {{ statistic.date }}</p>
            {% endfor %}
        </div>
        <div id="call-for-papers" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Call for Papers</h4>
            <p class="text-left">To be announced.</p>
        </div>
        <div id="info-authors" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Information for Authors</h4>
            <p class="text-left">To be announced.</p>
        </div>
        <div id="info-presenters" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Information for Presenters</h4>
            <p class="text-left">To be announced.</p>
        </div>
    </div>
</section>

