<section id="calls">
    <div class="content-wrapper" style="padding-left: 50px;">
        <div id="call-for-papers" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Call for Papers</h4>
            <p class="text-left">
                The link to submit your full paper will appear on the website in due course. Please carefully read the
                instructions below before submitting your paper.
                You can also download <a href="{{ site.baseurl}}/img/PMAPS2022-Call-for-Papers.pdf">Call For
                Papers</a> as a PDF document, with additional details.</p>
            </p>
            <p class="text-left">
                To comply with IEEE guidelines, your paper should satisfy the following requirements:
            <ul style="font-weight: normal;">
                <li>the paper must fit the scope of the conference (if you are not sure, please <a
                        href="mailto:{{ site.email }} ">get in touch</a> to ask).
                </li>
                <li>the paper must not exceed the 6 page limit.</li>
                <li>the layout of the paper submitted must strictly follow the <a
                        href="https://www.ieee-pes.org/templates-and-sample-of-pes-technical-papers" target="_blank">IEEE
                    PES conference paper template</a>. Please do not submit using the “Transactions/Journal Papers”
                    template.
                </li>
            </ul>
            </p>
            <p class="text-left">
                Corresponding authors will be notified by email and will receive the instructions to transfer the
                copyright of their paper to IEEE. Note that this is required to include your paper in the Proceedings.
                In addition, note that papers will only be included in IEEE Xplore if presented by one of the authors.
            </p>
            <p class="text-left">
                Important dates:
            <ul style="font-weight: normal;">
                <li>Deadline: 16 January 2022 (extended, firm deadline)</li>
                <li>Notification of acceptance: 15 March 2022</li>
                <li>Final paper uploads: 15 April 2022</li>
            </ul>
            </p>
            <h6>Transaction Papers</h6>
            <p class="text-left">
                Authors of recently accepted but not yet published relevant IEEE PES Transactions Papers covering one of the conference themes
                are invited to submit their papers to PMAPS 2022 (please see the
                list of eligible Transactions below). The link to
                submit the details of your paper (code, title, authors, and abstract) will appear here in due course.
                These papers will be directly accepted without further review and will be allocated to an oral
                presentation session.
            <ul style="font-weight: normal;">
                <li>IEEE Transactions on Power Systems</li>
                <li>IEEE Transactions on Power Delivery</li>
                <li>IEEE Transactions on Energy Conversion</li>
                <li>IEEE Transactions on Smart Grid</li>
                <li>IEEE Transactions on Sustainable Energy</li>
            </ul>
            </p>
            <p class="text-left">
                PES Transactions papers will only be eligible for presentation if they are available on IEEE Xplore
                (Early
                Access included) and have a publication date no earlier than 16 January 2022.
            </p>
            <h6>Roy Billington Student Paper Award</h6>
            <p class="text-left">
                To acknowledge and encourage excellence in power system uncertainty research by students, a prize for
                the “Best Student Paper” will be awarded. <a
                    href="https://www.ieee-pes.org/roy-billinton-power-system-reliability-award" target="_blank">
                The Roy Billinton Award</a> recognizes outstanding work by
                students in the field of Probabilistic Methods and Practical Approaches for managing Risk and
                Uncertainty in the Electric Power Industry.
                Eligibility for the award is restricted to papers which are first-authored by a student. More
                information regarding the award will be announced at a later time.
                If your paper is eligible for this award and if you want to be considered for the Roy Billinton Award
                then please select the appropriate box in the submission system.
            </p>
        </div>
        <div id="call-for-tutorials" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Call for Tutorials</h4>
            <p class="text-left">
                We invite proposals for half or full day tutorials. Tutorials will take place on Sunday 12th June
                2022 from 9:00am to 5:00pm. Half day tutorials will be comprised of two 1.5 hour blocks during the
                morning
                or afternoon. Full day tutorials will be comprised of four 1.5 hour blocks.
                The content of the tutorials can be either broad to serve as an introduction to a topic, or deep in
                order to focus on cutting-edge developments.
                You can also download <a href="{{ site.baseurl}}/img/PMAPS2022-Call-for-Tutorials.pdf">Call For
                Tutorials</a> as a PDF document. If you would like to submit a proposal, please send the information listed below (with attachments if applicable) to the Technical Chair, Dr Robin Preece (<a href="mailto:robin.preece@manchester.ac.uk">robin.preece@manchester.ac.uk</a>) by 16<sup>th</sup> January 2022.
            </p>
            <p class="text-left">
            <ul style="font-weight: normal;">
                <li>Tutorial title</li>
                <li>Tutorial organiser (name, affiliation, contact e-mail, and a short CV or link)</li>
                <li>List of speakers (name, affiliation, contact e-mail, and a short CV or link). It can be only the
                    organiser.
                </li>
                <li>Abstract. No more than 300 words.</li>
                <li>Length. Half day (two 1.5 hour blocks) or full day (four 1.5 hour blocks).</li>
                <li>Structure. Topics to be addressed in each block.</li>
                <li>Special requirements. Please indicate whether there is any special requirements for the attendees
                    (e.g., attendees need to bring laptops or have specialised software already installed).
                </li>
                <li>Previous experience. Please state if you have already organized a tutorial on the same or similar
                    topic in a previous conference. Provide details as necessary (e.g., title, year, number of
                    attendees).
                </li>
            </ul>
            </p>
            <p class="text-left">
                Tutorials will be allocated infrastructure (room, AV equipment, etc.) and will be advertised along with
                the different activities of PMAPS 2022. The organiser (or designated speaker) will be given one (1) free
                registration for the whole conference. However, it is a requirement that all other speakers register for
                the conference unless their attendance is limited to the corresponding tutorial. The PMAPS 2022
                conference organisers will not cover travel-related expenses. All income resulting from tutorial ticket
                sales goes to PMAPS 2022.
            </p>
            <p class="text-left">
                Important dates:
            <ul style="font-weight: normal;">
                <li>Deadline: 16 January 2022</li>
                <li>Notification of acceptance: 25 February 2022</li>
                <li>Final tutorial presentation uploads (PPT or PDF): 27 May 2022</li>
            </ul>
            </p>
        </div>
        <div id="call-for-special-sessions" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Call for Special Sessions</h4>
            <p class="text-left">
                We invite experts in the application of probabilistic methods to power systems to submit proposals for Special Sessions. You can also download <a href="{{ site.baseurl}}/img/PMAPS2022-Call-for-Special-Sessions.pdf">Call For Special Sessions</a> as a PDF document. In particular, we would like to encourage submissions from:
            </p>
            <p class="text-left">
            <ul style="font-weight: normal;">
                <li>R&D projects funded by international schemes.</li>
                <li>R&D projects funded by national schemes.</li>
                <li>Industrial or academic initiatives addressing a timely topic.</li>
            </ul>
            </p>
            <p class="text-left">
                Special Sessions will take place from Monday 13<sup>th</sup> to Wednesday 15<sup>th</sup> June 2022 throughout the day. These sessions have an allocated time of approximately 1.5 hours and therefore can have up to 5 presentations (each 15 minutes plus Q&A). The content of the Special Sessions can be either broad to serve as an introduction to a topic addressed by the project or deep in order to focus on the corresponding findings.
            </p>
            <p class="text-left">
                If you would like to submit a proposal, please send the information listed below (with attachments if applicable) to the Technical Chair, Dr Robin Preece (<a href="mailto:robin.preece@manchester.ac.uk">robin.preece@manchester.ac.uk</a>) by <strong>Friday 21<sup>st</sup> January 2022</strong>.
            </p>
            <p class="text-left">
            <ul style="font-weight: normal;">
                <li>Special Session Title.</li>
                <li>Special Session Chair (name, affiliation, contact e-mail, and a short CV or link).</li>
                <li>Abstract. No more than 300 words. Including details of the R&D project involved if applicable.</li>
                <li>List of Presentations and Speakers (name, affiliation, contact e-mail, and a short CV or link).</li>
            </ul>
            </p>
            <p class="text-left">
                Special Sessions will be allocated infrastructure (room, AV equipment, etc.) and will be advertised alongside the different activities of PMAPS 2022. All speakers must register for the conference. The chair of the session will be given one (1) free registration for the conference provided the special session brings at least three new registering participants (i.e. speakers who are not also presenting additional papers at the conference). PMAPS 2022 will not cover travel and accommodation related expenses.
            </p>
            <p class="text-left">
                Important dates:
            <ul style="font-weight: normal;">
                <li>Deadline: <strong>Friday 21<sup>st</sup> January 2022</strong></li>
                <li>Notification of acceptance: Friday 25<sup>th</sup> February 2022</li>
            </ul>
            </p>
        </div>
</section>