{% include under-construction-banner.html %}

<div class="row conference-logo">
    <div class="col-lg-4 col-lg-offset-1">
        <ul class="conference-nav-list">
            <li><a href="https://www.manchester.ac.uk/" target="_blank"><img
                    src="https://github.com/anenadic/pmaps2022/raw/master/img/logo-university-of-manchester.png"
                    style="height: 60px;"></a></li>
            <li><a href="/"><img src="https://github.com/anenadic/pmaps2022/raw/master/img/PMAPS-main-logo.png"
                                 style="height: 60px;"></a></li>
        </ul>
    </div>
    <div class="col-lg-4 pull-right">
        <ul class="conference-top-nav-list">
            <li><i class="fa fa-calendar fa-2x" aria-hidden="true"></i><li>
            <li><span>Conference<br>{{ site.eventDate }}</span></li>
            <li><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></li>
            <li><span>Contact us<br><a href="mailto:{{ site.email }}">Organising Committee</a></span></li>
            <li>
                <a href="https://twitter.com/intent/user?screen_name={{ site.twitterAccount }}" target="_blank">
                    <svg class="icon icon-twitter pull-right" viewBox="0 0 30 32">
                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>