<div class="row conference-logo">
    <div class="col-lg-4 col-lg-offset-1">
        <ul class="conference-nav-list">
            <li><a href="https://www.manchester.ac.uk/" target="_blank"><img
                    src="https://github.com/anenadic/pmaps2022/raw/master/img/logo-university-of-manchester.png"
                    style="height: 60px;"></a></li>
            <li><a href="/"><img src="https://github.com/anenadic/pmaps2022/raw/master/img/PMAPS-main-logo.png"
                                 style="height: 60px;"></a></li>
        </ul>
    </div>
    <div class="col-lg-4 pull-right">
        <ul class="conference-nav-list" style="text-transform: none !important; font-size: 14px;">
            <li><i class="fa fa-calendar fa-2x" aria-hidden="true"></i><li>
            <li style="padding-top: 15px !important;"><span>Conference<br>12-16 June 2022</span>   </li>
            <li><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></li>
            <li style="padding-top: 15px !important;"><span>Contact us<br><a style="color: #000000;" href="mailto:{{ site.email }}">{{ site.email }}</a></span></li>
        </ul>
    </div>
</div>