<!-- Begin Hero Section -->
<section id="conference-title" class="conference-title-header">
    <div class="content-wrapper">
        <div class="jumbotron" style="margin: 0px;">
            <div class="col-lg-11 col-lg-offset-1" style="margin: -30px 0px 0px 20px;">
                <ul class="conference-nav-list">
                    {% for navigationLink in site.navigationLinks %}
                    <li>
                        {% if navigationLink.links != null %}
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle {% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}"
                               type="button" id="dropdownMenuButton-{{ navigationLink.text }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ navigationLink.text | upcase }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-sponsorship">
                                {% for link in navigationLink.links %}
                                <a class="dropdown-item" href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% else %}
                            <a type="button" class="btn btn-secondary {% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}"
                               href="{% if navigationLink.permalink != null %} {{ navigationLink.permalink | prepend: site.baseurl }} {% else %} {{ navigationLink.link }} {% endif %}">
                                {{ navigationLink.text | upcase }}
                            </a>
                        {% endif %}
                    </li>
                    {% endfor %}
<!--                    <li>-->
<!--                        <div class="dropdown">-->
<!--                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-sponsorship" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                SPONSORSHIP-->
<!--                            </button>-->
<!--                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-sponsorship">-->
<!--                                <a class="dropdown-item" href="#" style="color: #212529 !important;">Become sponsor</a>-->
<!--                                <a class="dropdown-item" href="#">Sponsorship packages</a>-->
<!--                                <a class="dropdown-item" href="#">Our sponsors</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="dropdown">-->
<!--                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-authors" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                AUTHOR INFO-->
<!--                            </button>-->
<!--                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-authors">-->
<!--                                <a class="dropdown-item" href="#">Important dates</a>-->
<!--                                <a class="dropdown-item" href="#">Submission info</a>-->
<!--                                <a class="dropdown-item" href="#">Final manuscripts</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
                </ul>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 animated hiding" data-animation="fadeInDown" data-delay="500">
                <h2>{{ site.heroTitle }}</h2>
                <h3 style="color: #4185F4;">{{ site.heroSubTitle }}</h3>
                <p style="font-weight: bolder;">{{ site.eventDate }}</p>
                {% for button in site.heroButtons %}
                <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}"
                   class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link !=null
                   %}target="_blank" {% endif %}>{{ button.text }}</a>
                {% endfor %}
            </div>
        </div>
        <!--    <a href="#about" class="explore">-->
        <!--        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">-->
        <!--            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>-->
        <!--        </svg>-->
        <!--    </a>-->
    </div>
</section>
<!-- End Hero Section -->