{% comment %}
{% include under-construction-banner.html %}
{% endcomment %}

<div class="row conference-logo">
    <div class="col-lg-9 col-md-9 col-sm-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <div style="display: inline-block">
            <a href="/"><img src="{{ site.baseurl }}/img/PMAPS-main-logo.png"
                             style="height: 60px; padding-right:3px;" alt="PMAPS 2022 conference">
            </a>
        </div>
        <div style="display: inline-block">
            <a href="https://www.manchester.ac.uk/" target="_blank">
                <img
                        src="{{ site.baseurl }}/img/logo-university-of-manchester.png" style="height: 60px; padding-right: 3px;"
                        alt="University of Manchester">
            </a>
        </div>
        <div style="display: inline-block">
            <a href="https://www.ieee-pes.org/" target="_blank">
                <img src="{{ site.baseurl }}/img/pes-logo-transparent.png" style="height: 60px; padding-right: 3px;"
                     alt="IEEE Power & Energy Society">
            </a>
        </div>
        <div style="display: inline-block">
            <a href="https://www.ieee.org/" target="_blank">
                <img src="{{ site.baseurl }}/img/ieee-logo.jpg" style="height: 60px; padding-right: 3px;"
                     alt="IEEE">
            </a>
        </div>
        <div style="display: inline-block">
            <a href="https://www.pmaps.world/" target="_blank">
                <img src="{{ site.baseurl }}/img/society-logo.png" style="height: 60px; width: 220px;"
                     alt="PMAPS International Society">
            </a>
        </div>
    </div>
    <div class="col-lg-2">
        <!--            <div class="conference-top-nav-list">-->
        <!--                <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>-->
        <!--            </div>-->
        <!--            <div class="conference-top-nav-list">-->
        <!--                <p style="padding-top: 10px;">-->
        <!--                    {{ site.eventDate }}<br><a href="{{ site.baseurl }}/#important-dates">Important Dates</a>-->
        <!--                </p>-->
        <!--            </div>-->
        <!--            <div class="conference-top-nav-list">-->
        <!--                <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>-->
        <!--            </div>-->
        <div class="conference-top-nav-list">
            <p style="padding-top: 10px;">
                <a href="{{ site.baseurl }}/committees/#local-committee">Contact us</a>
                <!--                <a href="mailto:{{ site.email }}">Contact us</a><br>-->
                <!--                <a href="{{ site.baseurl }}/committees/#local-committee">Organising Committee</a>-->
            </p>
        </div>
        {% if site.twitterAccount != null %}
        <div class="conference-top-nav-list">
            <a href="https://twitter.com/intent/user?screen_name={{ site.twitterAccount }}" target="_blank">
                <svg class="icon icon-twitter pull-right" viewBox="0 0 30 32">
                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
                </svg>
            </a>
        </div>
        {% endif %}
    </div>
</div>