<!-- Begin Hero Section -->
<section id="conference-title" class="conference-title-header">
    {% comment %}{% include navigation.html %}{% endcomment %}
    <div class="content-wrapper">
        <div class="jumbotron" style="margin: 0px;">
            <div class="col-lg-10 col-lg-offset-1" style="margin: -30px 0px 0px 0px;">
                <ul class="conference-nav-list">
                    {% for navigationLink in site.navigationLinks %}
                    <li>
                        <a class="{% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}"
                           href="{% if navigationLink.permalink != null %} {{ navigationLink.permalink | prepend: site.baseurl }} {% else %} {{ navigationLink.link }} {% endif %}"
                           {% if navigationLink.link !=null %}target="_blank" {% endif %}>{{ navigationLink.text}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
                <h1>{{ site.heroTitle }}</h1>
                <p style="font-weight: bolder;">{{ site.eventDate }}</p>
                {% for button in site.heroButtons %}
                <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}"
                   class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link !=null
                   %}target="_blank" {% endif %}>{{ button.text }}</a>
                {% endfor %}
            </div>
        </div>
        <!--    <a href="#about" class="explore">-->
        <!--        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">-->
        <!--            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>-->
        <!--        </svg>-->
        <!--    </a>-->
    </div>
</section>
<!-- End Hero Section -->