<section id="contact" class="team">
    <div class="content-wrapper" style="padding-left: 50px;">
        <div class="col-lg-10 col-lg-offset-1 text-left">
            If you have any questions, please
            <a href="mailto:{{ site.email }}">get in touch with the organising committee</a>.
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-left">
                <h4 style="text-align: left">Credits</h4>
                <div>
                    <ul>
                        <li>Conference theme based on <a href="https://github.com/gdg-x/zeppelin" target="_blank">project Zeppelin</a></li>
                        <li><a href="https://www.flickr.com/photos/ctbto/5851726493/" target="_blank">CTBTO Science and Technology conference photos</a></li>
                        <li><a href="https://commons.wikimedia.org/wiki/File:WM_%2B_E_C2019_presentations_Wales_4.jpg" target="_blank">Wikimedia Commons</a></li>
                        <li><a href="https://www.flickr.com/photos/134305289@N03/albums/72157667641880727" target="_blank">CarpentryCon 2018 by Bérénice Batut</a></li>
                    </ul>
                </div>
        </div>
    </div>
</section>