<div id="credits" class="col-lg-10 col-lg-offset-1 text-left">
    <h4 style="text-align: left">Credits</h4>
    <div>
        <ul>
            <li>Conference theme based on <a href="https://github.com/gdg-x/zeppelin" target="_blank">project Zeppelin</a></li>
            <li><a href="https://www.flickr.com/photos/ctbto/5851726493/" target="_blank">CTBTO Science and Technology conference photos</a></li>
            <li><a href="https://commons.wikimedia.org/wiki/File:WM_%2B_E_C2019_presentations_Wales_4.jpg" target="_blank">Wikimedia Commons</a></li>
            <li><a href="https://www.flickr.com/photos/134305289@N03/albums/72157667641880727" target="_blank">CarpentryCon 2018 photos by Bérénice Batut</a></li>
            <li><a href="https://www.geograph.org.uk/photo/2820764">Photo of University Place, Geograph.org.uk</a></li>
<!--            <li><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.visitmanchester.com%2Fthings-to-see-and-do%2Fthe-university-of-manchester-p359531&psig=AOvVaw0Ya0aFz4t4HFIRM9j0QLle&ust=1615745092334000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOC5yNDwre8CFQAAAAAdAAAAABAD">The University of Manchester, photo by Visit Manchester</a></li>-->
            <li><a href="https://www.flickr.com/photos/147346595@N06/33096737584">University of Manchester Building by Vita Student, Creative Commons</a> </li>
            <li><a href="https://commons.wikimedia.org/wiki/File:Sackville_Street_Building,_University_of_Manchester.jpg">Photo of Sackville Street Building, University of Manchester, Wikimedia Commons</a> </li>
        </ul>
    </div>
</div>