<!-- Begin Credits List-->
<section id="credits">
    <div class="content-wrapper" style="padding-left: 50px; font-weight: normal;">
        <div class="col-lg-10 col-lg-offset-1 text-left">
            <h5>IEEE PES</h5>
            <p class="text-left">We gratefully acknowledge the technical support from <a href="https://www.ieee-pes.org/" target="_blank">IEEE PES</a> in publishing conference proceedings.</p>
            <h5 id="volunteers">
                Our Volunteers
            </h5>
            <p class="text-left">The conference would not be the same without the help of local volunteers:</p>
            <ul>
                <li>Miss Yuqi Zhao, Department of Electrical and Electronic Engineering, University of Manchester - supporting the website updates</li>
                <li>Miss Wenzhu Li, Department of Mechanical, Aerospace and Civil Engineering, University of Manchester - in charge of social media</li>
            </ul>
            <h5 class="text-left">Website Theme</h5>
            <p class="text-left">Website theme is modified from <a href="https://github.com/gdg-x/zeppelin" target="_blank">project Zeppelin</a>.</p>
            <h5 class="text-left">Images Credits</h5>
            <p>The images used throughout the site have either been licenced for non-commercial reuse or have been used with the permission of owners. </p>
            <ul>
                <li><a href="https://www.flickr.com/photos/ctbto/5851726493/" target="_blank">CTBTO Science and Technology conference photos</a></li>
                <li><a href="https://commons.wikimedia.org/wiki/File:WM_%2B_E_C2019_presentations_Wales_4.jpg" target="_blank">WM + E C2019 presentations, Wikimedia Commons</a></li>
                <li><a href="https://www.flickr.com/photos/134305289@N03/albums/72157667641880727" target="_blank">CarpentryCon 2018 photos by Bérénice Batut</a></li>
                <li><a href="https://www.geograph.org.uk/photo/2820764">Photo of University Place, Geograph.org.uk</a></li>
                <!--            <li><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.visitmanchester.com%2Fthings-to-see-and-do%2Fthe-university-of-manchester-p359531&psig=AOvVaw0Ya0aFz4t4HFIRM9j0QLle&ust=1615745092334000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOC5yNDwre8CFQAAAAAdAAAAABAD">The University of Manchester, photo by Visit Manchester</a></li>-->
                <li><a href="https://www.flickr.com/photos/147346595@N06/33096737584">University of Manchester Building by Vita Student, Creative Commons</a> </li>
                <li><a href="https://commons.wikimedia.org/wiki/File:Sackville_Street_Building,_University_of_Manchester.jpg">Photo of Sackville Street Building, University of Manchester, Wikimedia Commons</a> </li>
            </ul>
        </div>
    </div>
</section>

<!--https://www.pxfuel.com/en/free-photo-qjqah-->
<!--https://www.pxfuel.com/en/free-photo-qbqrc-->
<!--https://www.flickr.com/photos/rrpowersystems/12234026235/-->
<!--https://thenounproject.com/term/hybrid/1069699/-->
<!--https://commons.wikimedia.org/wiki/File:Renewable_Energy_on_the_Grid.jpg-->
<!--https://www.pxfuel.com/en/free-photo-elppf-->
<!--https://www.flickr.com/photos/134305289@N03/42464457862/in/album-72157667641880727/-->
<!--https://www.flickr.com/photos/wms2013/8804380366/in/photolist-eq1Kxu-8H3vgX-8q57i8-CPWDfP-56TNF-6bK3Wv-DXCYA-o92hy1-5APKD-51FHf3-5wCFR-4UQQdx-4WfybU-oZbVrw-fUNwb8-7HCBte-5hEW4Q-HdmHK-eq1Mfo-6bK2Lx-aQ7vYM-3SKQGj-fUM7mV-dq3Cx6-7MtBA-7yV9Zg-haUoVB-7HGwZ5-9CsRVe-5uGRoL-tnzUd-564i3p-6RPcgQ-7HGwAY-6KLuRB-6XTWVf-DWhW4-KJv6Ej-7nhP6B-L7Qst-6RPbA5-bkD56m-6U9Yrd-4fyJmY-6bXW4q-dPRri-6Wm4Sc-abqVwq-4rBwHP-5xXVc9-->
<!--https://www.rmit.edu.au/news/all-news/2017/dec/women-taking-the-lead-in-tech-->
<!--https://free-icon-rainbow.com/transmission-line-free-icon-6/-->
<!--https://free-icon-rainbow.com/transmission-line-free-icon-7/-->