<!-- Begin Statistic Section -->
<section id="important-dates" class="statistic image-section" style="color: #000000; background-color: #FCFCFC; border-bottom: 1px solid #e7e7e7; border-top: 1px solid #e7e7e7;">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
            <h3>Important Dates</h3>
            {% assign animationDelay = 0 %}
            {% for statistic in site.statisticBlock %}
            {% assign colWidth = 24 | divided_by: forloop.length %}
            <div class="col-md-{{ colWidth }} col-xs-6">  
                <div class="counter animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
<!--                    <div class="stat"><span>{{ statistic.date}}</span></div>-->
                    <div class="stat-info" style="color: #03a9f4;"><strong>{{ statistic.date}}</strong></div>
					<hr>
<!--                    <p class="small">{{ statistic.date}}</p>-->
                    <p>{{ statistic.info}}</p>
                </div>
            </div>
            {% assign animationDelay = animationDelay | plus:500 %}
            {% assign check = forloop.index | modulo:2 %}
            {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
            {% endfor %}
		</div>
	</div>
</section>
<!-- End Statistic Section -->