<section id="Join the Conference">
    <div class="content-wrapper" style="padding-left: 50px;">
    <div class="col-lg-10 col-lg-offset-1 text-left">
        <p class="text-left">PMAPS 2022 is a fully online conference and the virtual venue will be managed by the Hg3 team. </p>
        <p class="text-left">The Hg3 team will be available throughout the conference. If you have any questions on how to access the virtual platform or if you encounter any issues with it, please, contact the Hg3 team: <a
        href="mailto:{{ site.email }}">events@hg3.co.uk</a> tel. +44 (0)1423 529333 </p>
        <p class="text-left">The Hg3 team will send instructions on how to join the virtual conference by email to all registered speakers and conference participants. </p>
        <p class="text-left">Joining instructions for tutorial participants will be emailed out separately by the local organising committee. </p> 
        <br>
    <div class="content-wrapper" align="center">
        <button type="button" style="color: #FFFFFF; background-color: #660099; border-color: #660099; border-radius: 10px; width:250px; height:40px;"><a href="https://pmaps.online/" style="text-decoration: none; color: #FFFFFF;">Join the Conference Here</a></button>
    </div>
        <br>
        <p class="text-left">Presenting speakers should have all received instructions on how to join their sessions to deliver their presentations. If you have not received this information, please contact the events team (<a href="mailto:{{ site.email }}">events@hg3.co.uk</a>) and the technical chair (<a href="mailto:{{ site.email }}">robin.preece@manchester.ac.uk</a>). Be sure to include the details of your presentation and session. </p>
    </div>
    </div>
</section>