<!-- Begin Local Info Details-->
<section id="about-manchester" class="team">
    <div class="content-wrapper" style="padding-left: 50px;">
        <div class="col-lg-10 col-lg-offset-1 text-left">
            <h3>About Manchester</h3>
            <p>
                There is a lot of <a href="https://www.visitmanchester.com/things-to-see-and-do" target="_blank">things to see and do</a> in Manchester that’ll keep you busy from the moment you arrive until the moment you leave. It’s easily one of the most fun cities to visit in England. You should also check the <a href="https://www.visitmanchester.com/visitor-information" target="_blank">Visitor Centre</a> located in the city centre for a great source of information.
            </p>
            <p>
                Manchester is a major city in the northwest of England with a rich industrial heritage. The Castlefield conservation area’s 18th-century canal system recalls the city’s days as a textile powerhouse, and visitors can trace this history at the interactive Museum of Science & Industry. The revitalised Salford Quays dockyards now house the Daniel Libeskind-designed Imperial War Museum North and the Lowry cultural centre. From immersing yourself into the beautiful game and going on a tour of the Manchester United or Manchester City football stadiums, to visiting the hip Northern Quarter part of the city centre to going on a coffee/beer/chocolate crawl through the city's famous coffee and treat shops and pubs  - there is something for everyone.
            </p>
        </div>
    </div>
</section>
<section id="local-info" class="direction-details">
    <div class="content-wrapper">
        <section id="venue" class="image-section standart-height" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.directionDetailsImage }}');">
            <h3>{{ site.directionDetailsTitle }}</h3>
        </section>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                {% assign animationDelay = 0 %}
                {% for card in site.directionDetailsCards %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                    <div class="card">
                        <h4>{{ card.title }}</h4>
                        <p>{{ card.information }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% endfor %}
                {% for wideCard in site.directionDetailsWideCards %}
                <div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card questions">
                        <h4>{{ wideCard.title }}</h4>
                        {% for subCard in wideCard.subCards %}
                        {% assign wideCardColWidth = 12 | divided_by: forloop.length %}
                        <div class="col-md-{{ wideCardColWidth }} col-xs-12">
                            <h5>{{ subCard.title }}</h5>
                            <ul>
                                {% for linkElement in subCard.links %}
                                <li><a href="{% if linkElement.permalink != null %} {{ linkElement.permalink | prepend: site.baseurl }} {% else %} {{ linkElement.link }} {% endif %}" {% if linkElement.link != null %}target="_blank"{% endif %}>{{ linkElement.text }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Local Info Details -->