<!-- Begin Page Section -->
<section id="page-title" class="conference-title-header">
    <div class="content-wrapper">
        <div class="jumbotron" style="margin: 0px;">
            <div class="col-lg-11 col-lg-offset-1" style="margin: -30px 0px 0px 20px;">
                <ul class="conference-nav-list">
                    {% for navigationLink in site.navigationLinks %}
                    <li>
                        {% if navigationLink.links != null %}
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle {% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}"
                                    type="button" id="dropdownMenuButton-{{ navigationLink.text }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ navigationLink.text | upcase }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-sponsorship">
                                {% for link in navigationLink.links %}
                                <a class="dropdown-item" href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% else %}
                        <a type="button" class="btn btn-secondary {% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}"
                           href="{% if navigationLink.permalink != null %} {{ navigationLink.permalink | prepend: site.baseurl }} {% else %} {{ navigationLink.link }} {% endif %}">
                            {{ navigationLink.text | upcase }}
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-10 col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 animated pull-left" data-animation="fadeInLeft" data-delay="500">
                <h1 style="text-align: left; padding-top: 100px;">{{ page.title }}</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Page Section -->