<section id="photo-gallery-Mon">
    <div class="content-wrapper" style="padding-left: 50px;">
    <div id="sessions" class="col-lg-10 col-lg-offset-1 text-left">
    <h4 style="text-align: left">13 Jun 2022</h4>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_13-Jun-2022/#opening-ceremony">Opening Ceremony</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_13-Jun-2022/#M2A">M2A: Forecasting 1</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_13-Jun-2022/#M2B">M2B: Women in Power Panel: Thriving Professions in Power and Energy</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_13-Jun-2022/#M2C">M2C: Probabilistic Analysis of Power Quality</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_13-Jun-2022/#keynotes">Keynote Speakers</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_13-Jun-2022/#M4A">M4A: Planning</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_13-Jun-2022/#M4B">M4B: Resilience and Extreme Events 1</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_13-Jun-2022/#M4C">M4C: Probabilistic Modelling 1</a></p>
        <br>
    </div>
    <div id="opening-ceremony" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">Opening Ceremony</h4>
        <table class="Opening-Ceremony" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/opening_ceremony/pic2.JPG" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/opening_ceremony/pic3.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/opening_ceremony/pic4.jpg" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/opening_ceremony/pic5.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/opening_ceremony/pic6.jpg" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/opening_ceremony/pic7.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/opening_ceremony/pic8.jpg" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/opening_ceremony/pic9.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/opening_ceremony/pic10.jpg" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/opening_ceremony/pic11.jpg" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>   
    <div id="M2A" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">M2A: Forecasting 1</h4>
        <table class="M2A" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M2A/M2A.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M2A/M2A2.PNG" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>  
    <div id="M2B" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">M2B: Women in Power Panel: Thriving Professions in Power and Energy</h4>
        <table class="M2B" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M2B/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M2B/pic2.PNG" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M2B/pic3.PNG" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M2B/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M2B/pic5.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>    
    <div id="M2C" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">M2C: Probabilistic Analysis of Power Quality</h4>
        <table class="M2C" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M2C/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M2C/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M2C/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M2C/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M2C/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M2C/pic6.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>    
    <div id="keynotes" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">Keynote Speakers</h4>
        <table class="keynotes" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/keynotes/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/keynotes/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/keynotes/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/keynotes/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/keynotes/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/keynotes/pic6.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/keynotes/pic7.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div> 
    <div id="M4A" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">M4A: Planning</h4>
        <table class="M4A" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4A/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4A/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4A/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4A/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4A/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4A/pic6.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4A/pic7.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4A/pic8.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4A/pic9.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4A/pic10.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4A/pic11.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4A/pic12.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>    
    <div id="M4B" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">M4B: Resilience and Extreme Events 1</h4>
        <table class="M4B" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4B/pic1.JPG" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4B/pic2.JPG" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4B/pic3.JPG" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4B/pic4.JPG" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4B/pic5.JPG" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4B/pic6.JPG" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4B/pic7.JPG" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4B/pic8.JPG" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4B/pic9.JPG" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4B/pic10.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4B/pic11.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4B/pic12.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div> 
    <div id="M4C" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">M4C: Probabilistic Modelling 1</h4>
        <table class="M4C" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4C/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4C/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4C/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4C/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4C/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/M4C/pic6.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>       
</div>
</section>