<section id="photo-gallery-Wed">
    <div class="content-wrapper" style="padding-left: 50px;">
    <div id="sessions" class="col-lg-10 col-lg-offset-1 text-left">
    <h4 style="text-align: left">15 Jun 2022</h4>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W1A">W1A: Application of Probability Analytics in Renewable Power Systems</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W1B">W1B: Probabilistic Analysis of Power System Stability</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W1C">W1C: Decision Making</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W2A">W2A: SMART4RES</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W2B">W2B: Asset Management</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W2C">W2C: Integrating Uncertain Energy Sources 3</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W2D">W2D: Uncertainties and probabilistic methods in smart cities</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W3A">W3A: Advanced Probabilistic Methods for Risk Assessment of System Insecurity in Operation and Planning</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W3B">W3B: Future Energy System Analysis Using Probabilistic Methods</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W3C">W3C: Forecasting 2</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W3D">W3D: Resilience and Extreme Events 2</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W4A">W4A: Power quality assessment for networks with high penetration of renewable energy sources</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W4B">W4B: Data-driven analysis 2</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W4C">W4C: Adequacy</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W4D">W4D: Reliability Assessment</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#closing_ceremony">Closing Ceremony</a></p>
        <br>
    </div>
    <div id="W1A" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W1A: Application of Probability Analytics in Renewable Power Systems</h4>
        <table class="W1A" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic6.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic7.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic8.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic9.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic10.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>  
    <div id="W1B" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W1B: Probabilistic Analysis of Power System Stability</h4>
        <table class="W1B" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1B/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1B/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1B/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1B/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1B/pic5.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>      
    <div id="W1C" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W1C: Decision Making</h4>
        <table class="W1C" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic6.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic7.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic8.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic9.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic10.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div> 
    <div id="W2A" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W2A: SMART4RES</h4>
        <table class="T1D" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic6.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic7.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic8.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic9.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic10.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>     
    <div id="W2B" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W2B: Asset Management/h4>
        <table class="W2B" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2B/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2B/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2B/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2B/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2B/pic5.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>
    <div id="W2C" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W2C: Integrating Uncertain Energy Sources 3</h4>
        <table class="W2C" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic6.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic7.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic8.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic9.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic10.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>      
    <div id="W2D" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W2D: Uncertainties and probabilistic methods in smart cities</h4>
        <table class="W2D" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2D/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2D/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2D/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2D/pic4.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2D/pic5.jpg" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2D/pic6.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2D/pic7.jpg" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>  
    <div id="W3A" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W3A: Advanced Probabilistic Methods for Risk Assessment of System Insecurity in Operation and Planning</h4>
        <table class="W3A" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3A/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3A/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3A/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3A/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3A/pic5.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>  
    <div id="W3B" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W3B: Future Energy System Analysis Using Probabilistic Methods</h4>
        <table class="W3B" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3B/pic1.jpg" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3B/pic2.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3B/pic3.jpg" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3B/pic4.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3B/pic5.jpg" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3B/pic6.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3B/pic7.jpg" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3B/pic8.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3B/pic9.jpg" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3B/pic10.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3B/pic11.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3B/pic12.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3B/pic13.jpg" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3B/pic14.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3B/pic15.jpg" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>  
    <div id="W3C" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W3C: Forecasting 2</h4>
        <table class="W3C" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3C/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3C/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3C/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3C/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3C/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3C/pic6.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>  
    <div id="W3D" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W3D: Resilience and Extreme Events 2</h4>
        <table class="W3D" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3D/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3D/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3D/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3D/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3D/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3D/pic6.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3D/pic7.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3D/pic8.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3D/pic9.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W3D/pic10.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div> 
    <div id="W4A" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W4A: Power quality assessment for networks with high penetration of renewable energy sources</h4>
        <table class="W4A" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4A/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4A/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4A/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4A/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4A/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4A/pic6.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4A/pic7.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4A/pic8.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4A/pic9.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4A/pic10.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>  
    <div id="W4B" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W4B: Data-driven analysis 2</h4>
        <table class="W4B" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4B/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4B/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4B/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4B/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4B/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4B/pic6.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4B/pic7.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4B/pic8.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4B/pic9.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4B/pic10.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>  
    <div id="W4C" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W4C: Adequacy</h4>
        <table class="W1A" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4C/pic1.PNG" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4C/pic2.PNG" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4C/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4C/pic4.PNG" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4C/pic5.PNG" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4C/pic6.PNG" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4C/pic7.PNG" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4C/pic8.PNG" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4C/pic9.PNG" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>  
    <div id="W4D" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W4D: Reliability Assessment</h4>
        <table class="W1A" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4D/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4D/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4D/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4D/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4D/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4D/pic6.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4D/pic7.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4D/pic8.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4D/pic9.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W4D/pic10.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div> 
    <div id="closing_ceremony" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">Closing Ceremony</h4>
        <table class="closing_ceremony" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic1.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic2.PGN" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic3.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic4.PGN" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic5.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic6.PGN" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic7.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic8.PGN" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic9.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic10.PGN" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic11.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic12.PGN" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic13.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic14.PGN" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic15.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic16.PGN" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic17.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic18.PGN" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic19.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic20.PGN" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic21.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic22.PGN" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic23.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic24.PGN" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic25.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic26.PGN" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic27.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic28.PGN" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic29.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic30.PGN" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic31.PGN" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/closing_ceremony/pic32.PGN" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>   
</div>
</section>