<section id="photo-gallery-Tue">
    <div class="content-wrapper" style="padding-left: 50px;">
    <div id="sessions" class="col-lg-10 col-lg-offset-1 text-left">
    <h4 style="text-align: left">Volunteers</h4>
    </div>
    <div id="volunteer" class="col-lg-10 col-lg-offset-1 text-left">
        <table class="volunteer" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/volunteer/pic1.jpg" height="350" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/volunteer/pic2.jpg" height="350" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/volunteer/pic3.jpg" height="350" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/volunteer/pic4.jpg" height="350" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/volunteer/pic5.jpg" height="350" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/volunteer/pic6.jpg" height="350" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/volunteer/pic7.jpg" height="350" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/volunteer/pic8.jpg" height="350" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/volunteer/pic9.jpg" height="350" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/volunteer/pic10.jpg" height="350" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>  
</div>
</section>