<section id="photo-gallery-Wed">
    <div class="content-wrapper" style="padding-left: 50px;">
    <div id="sessions" class="col-lg-10 col-lg-offset-1 text-left">
    <h4 style="text-align: left">15 Jun 2022</h4>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W1A">W1A: Application of Probability Analytics in Renewable Power Systems</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W1B">W1B: Probabilistic Analysis of Power System Stability</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W1C">W1C: Decision Making</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W2A">W2A: SMART4RES</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W2B">W2B: Asset Management</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W2C">W2C: Integrating Uncertain Energy Sources 3</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/photo-gallery_15-Jun-2022/#W2D">W2D: Uncertainties and probabilistic methods in smart cities</a></p>
        <br>
    </div>
    <div id="W1A" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W1A: Application of Probability Analytics in Renewable Power Systems</h4>
        <table class="W1A" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic6.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic7.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic8.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic9.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1A/pic10.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>  
    <div id="W1B" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W1B: Probabilistic Analysis of Power System Stability</h4>
        <table class="W1B" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1B/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1B/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1B/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1B/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1B/pic5.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>      
    <div id="W1C" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W1C: Decision Making</h4>
        <table class="W1C" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic6.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic7.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic8.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic9.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W1C/pic10.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div> 
    <div id="W2A" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W2A: SMART4RES</h4>
        <table class="T1D" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic6.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic7.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic8.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic9.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2A/pic10.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>     
    <div id="W2B" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W2B: Asset Management/h4>
        <table class="W2B" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2B/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2B/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2B/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2B/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2B/pic5.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>
    <div id="W2C" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W2C: Integrating Uncertain Energy Sources 3</h4>
        <table class="W2C" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic4.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic5.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic6.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic7.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic8.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic9.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2C/pic10.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>      
    <div id="W2D" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">W2D: Uncertainties and probabilistic methods in smart cities</h4>
        <table class="W2D" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2D/pic1.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2D/pic2.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2D/pic3.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2D/pic4.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2D/pic5.jpg" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2D/pic6.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/W2D/pic7.jpg" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>      
</div>
</section>