<section id="photo-gallery">
    <div class="content-wrapper" style="padding-left: 50px;">
    <div id="12-Jun-2022" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">Tutorial 1</h4>
        <table class="tutorial-1" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/T1/Eduardo_1107_Sun.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/T1/Eduardo1_1108_Sun.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/T1/Mathaios_1114_Sun.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/T1/Mathaios1_1115_Sun.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/T1/Moreno_1132_Sun.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/T1/Moreno1_1132_Sun.png" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/T1/Pierluigi_1158_Sun.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/T1/Pierluigi1_1158_Sun.png" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>   
    <div id="12-Jun-2022" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">Tutorial 2</h4>
        <table class="tutorial-2" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/T2/T2 all.png" height="310" width="510"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/T2/Tutorial 2-1.jpg" height="310" width="510"></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                    <td style="font-weight:normal" width="25%" align="center"><br></td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/gallery/T2/Tutorial 2-2.jpg" height="310" width="510"></td>
                </tr>
                </tbody>
            </table>
    <br>
    <br>
    </div>
</div>
</section>