<section id="presentation-slides">
    <div class="presentation-slides" style="padding-left: 50px;">
        <div id="M2C" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">M2C: Probabilistic Analysis of Power Quality</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/M2C/1.PMAPS2022_Domagk_ProbabilisticStudy.pdf">1. Probabilistic study of propagation and summation of harmonics in transmission systems</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/M2C/2.PMAPS2022_M2C_BRACALE_DEFALCO.pdf">2. Probabilistic characterization and forecasting of harmonic distortions in distribution networks</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/M2C/3.PMAPS22_Hernandez.pdf">3. Probabilistic assessment of power quality in residential networks</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/M2C/4.PMAPS22_RodriguezPajaron.pdf">4. Probabilistic harmonic injection models of residential loads</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/M2C/5.PMAPS2022_Blazic.pdf">5. Probabilistic planning of distribution networks</a></p>
        </div>
     <div id="T1A" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">T1A: Future Grid</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T1A/David Hill - Data-based stability and control for future grids.pdf">1. Data-based stability and control for future grids</a></p>
        </div>
      <div id="T1B" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">T1B: STEP-UP</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T1B/1. STEP-UP Intro.pdf">1. Introduction</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T1B/2. Ning Zhang - MES Resilience Planning.pdf">2. Resilience Oriented Planning of Urban Multi-Energy Systems with Generalized Energy Storage Sources</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T1B/3. Fei Teng - Dynamics-aware Optimal Microgrid Scheduling under Uncertainty.pdf">3. Dynamics-aware Optimal Microgrid Scheduling under Uncertainty</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T1B/4. Roman Hennig - The Impact of Electricity Price Forecasting Uncertainty.pdf">4. The Impact of Electricity Price Forecasting Uncertainty on Network Tariff Performance with Flexible Residential Loads</a></p>
        </div>
      <div id="T3A" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">T3A: Evolving Transmission Planning Approaches for Increasingly Uncertain Futures</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T3A/1. P Mancarella - Risk-aware and flexible integrated system planning.pdf">1. Risk-aware and flexible integrated system planning, with experiences from Great Britain and Australia</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T3A/2. H Othman - Real-Options Approach to Transmission Planning.pdf">2. Real-Options Approach to Transmission Planning using Non-Wire Solutions in Support of Net Zero Futures</a></p>
        </div>
</section>