<section id="presentation-slides">
    <div class="presentation-slides" style="padding-left: 50px;">
        <div id="keynote1" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Keynote1</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/keynote1/Chongqing Kang_Power System Transition A Carbon Perspective.pdf">1. Power System Transition: A Carbon Perspective</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/keynote1/Danielle George_Inspiring young people to consider a career in engineering.pdf">2. Inspiring young people to consider a career in engineering</a></p>
        <br>
        </div>
        <div id="keynote2" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">Keynote2</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/keynote2/A Conejo - Representing Uncertainty in Power System Operations.pdf">1. Representing Uncertainty in Power System Operations: Approaches, Challenges and Solutions</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/keynote2/J Bian - Resilience Value and Metrics.pdf">2. Resilience Value and Metrics</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/keynote2/S Cox - Probability, Reason and Customers.pdf">3. Probability, Reason and Customers</a></p>
        <br>
        </div>
        <div id="M2C" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">M2C: Probabilistic Analysis of Power Quality</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/M2C/1.PMAPS2022_Domagk_ProbabilisticStudy.pdf">1. Probabilistic study of propagation and summation of harmonics in transmission systems</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/M2C/2.PMAPS2022_M2C_BRACALE_DEFALCO.pdf">2. Probabilistic characterization and forecasting of harmonic distortions in distribution networks</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/M2C/3.PMAPS22_Hernandez.pdf">3. Probabilistic assessment of power quality in residential networks</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/M2C/4.PMAPS22_RodriguezPajaron.pdf">4. Probabilistic harmonic injection models of residential loads</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/M2C/5.PMAPS2022_Blazic.pdf">5. Probabilistic planning of distribution networks</a></p>
        <br>
        </div>
     <div id="T1A" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">T1A: Future Grid</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T1A/David Hill - Data-based stability and control for future grids.pdf">1. Data-based stability and control for future grids</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T1A/Dong - Data driven electric vehicle planning and sharing.pdf">2. Data driven electric vehicle planning and sharing</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T1A/H Huang - Power Electronics for large-scale renewable integration.pdf">3. Power Electronics for large-scale renewable integration</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T1A/Yanli Liu - Security Region-based Probabilistic Security Assessment of Power System.pdf">4. Security Region-based Probabilistic Security Assessment of Power System</a></p>
        <br>
        </div>
      <div id="T1B" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">T1B: STEP-UP</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T1B/1. STEP-UP Intro.pdf">1. Introduction</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T1B/2. Ning Zhang - MES Resilience Planning.pdf">2. Resilience Oriented Planning of Urban Multi-Energy Systems with Generalized Energy Storage Sources</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T1B/3. Fei Teng - Dynamics-aware Optimal Microgrid Scheduling under Uncertainty.pdf">3. Dynamics-aware Optimal Microgrid Scheduling under Uncertainty</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T1B/4. Roman Hennig - The Impact of Electricity Price Forecasting Uncertainty.pdf">4. The Impact of Electricity Price Forecasting Uncertainty on Network Tariff Performance with Flexible Residential Loads</a></p>
        <br>
        </div>
      <div id="T3A" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">T3A: Evolving Transmission Planning Approaches for Increasingly Uncertain Futures</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T3A/1. P Mancarella - Risk-aware and flexible integrated system planning.pdf">1. Risk-aware and flexible integrated system planning, with experiences from Great Britain and Australia</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T3A/2. H Othman - Real-Options Approach to Transmission Planning.pdf">2. Real-Options Approach to Transmission Planning using Non-Wire Solutions in Support of Net Zero Futures</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/T3A/3. M Avandano - Climate Adaptation in Transmission Planning.pdf">3. Climate Adaptation in Transmission Planning</a></p>
        <br>
        </div>
      <div id="W1B" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">W1B: Probabilistic Analysis of Power System Stability</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W1B/01 P Papadopoulos - Probabilistic Transient Stability.pdf">1. Probabilistic Transient Stability Assessment of Power Systems with High Penetration of Renewable Generation</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W1B/02 K Hasan - Small Disturbance Stability.pdf">2. Probabilistic Small-disturbance Stability Analysis of Renewable-rich Power Systems</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W1B/03 M Abdullah Alzubaidi - Voltage Stability.pdf">3. Probabilistic Voltage Stability Analysis of Renewable-rich Power Systems</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W1B/04 M Toufkur Rahman - Probabilistic Aggregation.pdf">4. Probabilistic Modelling of Aggregated Renewables for Power System Stability Assessment</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W1B/05 R Fatah Mochamad - Multi-Stability.pdf">5. Probabilistic Multi-Stability Operational Boundaries in Power Systems with High Penetration of Power Electronics</a></p>
        <br>
        </div>
      <div id="W2A" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">W2A: SMART4RES</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W2A/1_Smart4RES_PMAPS_Akylas.S.pdf">1. Prescriptive Trees for Integrated Forecasting and Optimization Applied in Trading of Renewable Energy</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W2A/2_Smart4RES_PMAPS_Ivana.A.pdf">2. Seamless probabilistic weather forecasts for renewable energy prediction</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W2A/3_Smart4RES_PMAPS_Simon.C.pdf">3. Forecasting the high-resolution variability of renewable production using advanced weather forecasting products</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W2A/4_Smart4RES_PMAPS_Liyang.H.pdf">4. Regression Markets for Energy Systems Operation</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W2A/5_Smart4RES_PMAPS_Ricardo.B.pdf">5. Preventing definition of flexibility actions for solving technical problems in electrical grids using uncertainty forecasts</a></p>
        <br>
        </div>
      <div id="W2D" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">W2D: Uncertainties and probabilistic methods in smart cities</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W2D/Planning of Ultra-Fast Charging Stations along Island roads.pdf">1. Planning of Fast Charging Stations along Island Roads</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W2D/Small Cities - when Transport Sustainability is an Opportunity.pdf">2. Small Cities: when Transport Sustainability is an Opportunity</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W2D/The Impact of Electric Vehicles on Italys Motorway Infrastructure.pdf">3. The Impact of Electric Vehicles on Italy’s Motorway Infrastructure</a></p>
        <br>
        </div>
      <div id="W3B" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">W3B: Future Energy System Analysis Using Probabilistic Methods</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W3B/A Ehsan - Impacts of heat decarbonisation on the Great Britains elect.pdf">1. Impacts of heat decarbonisation on the Great Britain’s electricity and gas networks</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W3B/H Bloomfield - Calibrated European historical and near-future energy-m.pdf">2. Calibrated European historical and near-future energy-meteorology variables for energy system modelling</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W3B/L Souto - Impact of uncertainties on strengthening power system resili.pdf">3. Impact of uncertainties on strengthening power system resilience to extreme weather: where, when, and how</a></p>
        <br>
        </div>
      <div id="W4A" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">W4A: Power quality assessment for networks with high penetration of renewable energy sources</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W4A/A Bastos - Accurate characterization of voltage sags and swells Identificat.pdf">1. Accurate characterization of voltage sags and swells: Identification of point-on-wave inception and recovery instants</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W4A/E Lavopa - Harmonic interactions in HVDC-connected renewable generation sys.pdf">2. Harmonic interactions in HVDC-connected renewable generation systems: present and future challenges</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W4A/I Mexis - Deployment of single-phase BESS inverters for voltage unbalance m.pdf">3. Deployment of single-phase BESS inverters for voltage unbalance mitigation in distribution systems with high penetration of low-carbon technologies</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W4A/K L Koo - Power quality harmonic requirements for the GB transmission grid.pdf">4. Power quality harmonic requirements for the GB transmission grid</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/W4A/Z Deng - Harmonic models of inverter-based devices for power quality assess.pdf">5. Harmonic models of inverter-based devices for power quality assessments</a></p>
        <br>
        </div>
</div>
</section>