<section id="presentation-slides">
    <div class="presentation-slides" style="padding-left: 50px;">
        <div id="presentation-slides" class="col-lg-10 col-lg-offset-1 text-left">
            <h4 style="text-align: left">M2C: Probabilistic Analysis of Power Quality</h4>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/M2C/1.PMAPS2022_Domagk_ProbabilisticStudy.pdf">1. Probabilistic study of propagation and summation of harmonics in transmission systems</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/M2C/2.PMAPS2022_M2C_BRACALE_DEFALCO.pdf">2. Probabilistic characterization and forecasting of harmonic distortions in distribution networks</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/M2C/3.PMAPS22_Hernandez.pdf">3. Probabilistic assessment of power quality in residential networks</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/M2C/4.PMAPS22_RodriguezPajaron.pdf">4. Probabilistic harmonic injection models of residential loads</a></p>
            <p class="text-left">
                <a href="{{ site.baseurl}}/img/ppt/M2C/5.PMAPS2022_Blazic.pdf">5. Probabilistic planning of distribution networks</a></p>
        </div>
</section>