<section id="programme">
    <div class="content-wrapper" style="padding-left: 50px;">
    <div id="keynote-speakers" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">Keynote Speakers</h4>
        <p class="text-left">The keynote speakers are listed in alphabetical order.</p>
    </div>
    </div>
    <div class="content-wrapper" style="padding-left: 50px;">
        <div id="speaker1" class="col-lg-10 col-lg-offset-1 text-left">
            <h3>
            <p style="float:right; margin-top:40 px; margin-left: 20px; margin-right: 70px;">
                <span style="font-size: 100%; line-height: normal;">
                <br style="padding-left: 500px;"><strong>Dr. Jessica Bian </strong>
                <br><strong>President IEEE PES, USA</strong>
                <br><img class="img-square" src="{{ site.baseurl }}/img/people/DrJessicaBian.jpg" height="205" width="165">
                <br>
                <br><img class="img-square" src="{{ site.baseurl }}/img/people/IEEEPES.jpg" height="100" width="150">
                </span>             
            </p>
            </h3>
            <p style="text-align: left; font-size:18px"><strong>Title of the talk: </strong>TBA</p>
            <p style="text-align: left;"><strong>Date & Time: </strong>TBA</p>
            <p style="text-align: left;"><strong>Abstract: </strong>TBA</p>
            <p style="text-align: left;"><strong>Speaker Biography: </strong>Dr. Jessica Bian is the President of the IEEE Power & Energy Society (PES). She is a visionary leader and architect, has spearheaded electric industry's reliability metrics and grid risk assessment. Currently she is the Vice President of Grid Services at Grid-X Partners. Before that, she was with the Federal Energy Regulatory Commission (FERC), Washington, DC. Previously, she was the Director of Performance Analysis at North American Electric Reliability Corporation (NERC) in Atlanta, Georgia. Under her leadership, a total of 18 industry-wide reliability indicators were established to determine grid reliability, adequacy, and associated risks. She is widely recognized as a pioneer and trusted world leader in the field.</p>
            <p style="text-align: left;">Before joining NERC, Dr. Bian was with PJM, ERCOT and Westinghouse Electric. She earned her Bachelor degree in Electrical Engineering from the Taiyuan University of Technology, China; Master of Science from the Electric Power Research Institute, Beijing, China; and Ph.D. from Tulane University, New Orleans, Louisiana, USA. She was the PES President-Elect (2020-2021) and Secretary (2016-2019).</p>
           <br>
    </div>
    </div>
    <div class="content-wrapper" style="padding-left: 50px;">
        <div id="speaker2" class="col-lg-10 col-lg-offset-1 text-left">
            <h3>
            <p style="float:right; margin-top:40 px; margin-left: 20px; margin-right: 0px;">
                <span style="font-size: 100%; line-height: normal;">
                <br style="padding-left: 500px;"><strong>Prof. Antonio Conejo</strong>
                <br><strong>FIEEE, Ohio State University, USA</strong>
                <br><img class="img-square" src="{{ site.baseurl }}/img/people/AJC.jpg" height="210" width="165">
                </span>             
            </p>
            </h3>
            <p style="text-align: left; font-size:18px"><strong>Title of the talk: </strong>TBA</p>
            <p style="text-align: left;"><strong>Date & Time: </strong>TBA</p>
            <p style="text-align: left;"><strong>Abstract: </strong>TBA</p>
            <p style="text-align: left;"><strong>Speaker Biography: </strong>Antonio J. Conejo, professor at The Ohio State University, OH, received an M.S. from MIT, and a Ph.D. from the Royal Institute of Technology, Sweden. He has published over 220 papers in refereed journals, and is the author or coauthor of 14 books published by Springer, John Wiley, McGraw-Hill and CRC. He has been the principal investigator of many research projects financed by public agencies and the power industry and has supervised 24 PhD theses. He is an INFORMS Fellow, an IEEE Fellow and a former Editor-in-Chief of the IEEE Transactions on Power Systems. </p>
    </div>
    </div>
    <div class="content-wrapper" style="padding-left: 50px;">
        <div id="speaker3" class="col-lg-10 col-lg-offset-1 text-left">
            <br>
            <br>
            <p style="text-align: left;"><strong>Mr. Steve Cox</strong>, Director of Distribution System Operation, Electricity North West Ltd. </p>
            <br>
            <br>
    </div>
    </div>
    <div class="content-wrapper" style="padding-left: 50px;">
        <div id="speaker4" class="col-lg-10 col-lg-offset-1 text-left">
            <h3>
            <p style="float:right; margin-top:40 px; margin-left: 20px; margin-right: 40px;">
                <span style="font-size: 100%; line-height: normal;">
                <br style="padding-left: 500px;"><strong>Prof. Danielle George</strong>
                <br><strong>FIET, Past President IET, UK</strong>
                <br><img class="img-square" src="{{ site.baseurl }}/img/people/DanielleGeorge.jpg" height="240" width="180">
                </span>             
            </p>
            </h3>
            <p style="text-align: left; font-size:18px"><strong>Title of the talk: </strong>TBA</p>
            <p style="text-align: left;"><strong>Date & Time: </strong>TBA</p>
            <p style="text-align: left;"><strong>Abstract: </strong>TBA</p>
            <p style="text-align: left;"><strong>Speaker Biography: </strong>Danielle George is a Professor Radio Frequency Engineering and Associate Vice President at the University of Manchester. She is was President of the Institution of Engineering and Technology (IET) in 2020/21. She was appointed Member of the Order of the British Empire in the 2016 Queen’s honours list for services to engineering through public engagement. In 2016 she received the Royal Academy of Engineering Rooke Medal for services to engineering and in 2017 received the Harold Hartley Medal for outstanding contribution to the field of Measurement and Control.</p>
            <p style="text-align: left;">Danielle research is dedicated to solving one the 14 world engineering grand challenges of the 21st century; engineering the tools for scientific discovery. Her research is delivering class-leading ultra-low noise receivers for Space and Aerospace applications. She is involved in the $1B astronomical instrument, the Square Kilometer Array (SKA), is the UK lead for amplifiers for the $1B Atacama Large Millimeter Array (ALMA) telescope and has worked with NASA and ESA on the development of instrumentation for researchers exploring the Big Bang.</p>
            <p style="text-align: left;">Her passion for raising public awareness of the positive impact engineering and science has on all aspects of our everyday lives, as well as highlighting to young people the immense depth and breadth of opportunities a career in science and engineering can offer, has led to Danielle’s numerous current high-profile Ambassadorial roles.  She presented the 2014 Royal Institution Christmas Lectures and has delivered a number of TED and TEDx talks. Her hometown of Newcastle recognised her as a ‘Great North Contemporary Great’ in the 2015 Great North Culture Exhibition.</p>
    </div>
    </div>
    <div class="content-wrapper" style="padding-left: 50px;">
        <div id="speaker5" class="col-lg-10 col-lg-offset-1 text-left">
            <br>
            <br>
            <p style="text-align: left;"><strong>Prof. Chongqing Kang</strong>, FIEEE, Tsinghua University, China</p>
            <br>
            <br>
    </div>
    </div>
</section>