<section id="registration">
    <div class="content-wrapper" style="padding-left: 50px;">
    <div id="registration" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">Registration Fees</h4>
        <p class="text-left">All the participants must pay the conference registration fee.</p>
            <table class="table table-striped sponsorship" align="center">
                <thead class="thead-dark" align="center">
                <tr>
                    <th scope="col"><strong>Registration Type</strong></th>
                    <th scope="col"><strong>Before 15<sup>th</sup> May 2022</strong></th>
                    <th scope="col"><strong>After 15<sup>th</sup> May 2022</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row" align="center">Non-student</td>
                    <td align="center">£280</td>
                    <td align="center">£340</td>
                </tr>
                <tr>
                    <td scope="row" align="center">Student</td>
                    <td align="center">£180</td>
                    <td align="center">£220</td>
                </tr>
                <tr>
                    <td scope="row" align="center">Tutorials (add-on)</td>
                    <td align="center">£60</td>
                    <td align="center">£70</td>
                </tr>
                </tbody>
            </table>
            <br>            
        <p class="text-left">Registration grants access to all sessions during the conference. </p>
        <p class="text-left">All papers accepted for the conference must be presented by an author/co-author. All authors/co-authors registered for the conference are entitled to present two papers. For any further paper (i.e., third, fourth, etc.) presented by the registered author/co-author, a mandatory fee of USD $150 (GBP £115) per additional paper must be paid.</p>
        <p class="text-left">The tutorial fee applies on a ‘per-tutorial’ basis. You can see the list of available tutorials <a href="https://www.pmaps2022.org/tutorials/#tutorials">here</a>.</p>
        <p class="text-left">The conference registration platform will open shortly. </p>
        <br>
    </div>
</section>
