<!-- Begin Sponsorship Section -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<section id="sponsorship" class="partners">
    {% if page.title  != "Sponsorship" %}
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.sponsorsTitle }}</h3>
            {% for sponsor_group in site.data.sponsors %}
            {% if sponsor_group.group == "Gold Sponsors" %}
            <h5>{{ sponsor_group.group }}</h5>
            <ul class="list-inline">
                {% if sponsor_group.elements.size > 0 %}
                {% for sponsor in sponsor_group.elements %}
                <li {% if sponsor.width != null %}style="width: {{ sponsor.width }};"{% endif %}>
                    <a href="{{ sponsor.link }}" target="_blank">
                        <img style="width: unset; height: 100px;" src="{{ site.baseurl }}/img/sponsors/{{ sponsor.imageUrl }}" title="{{ sponsor.description }}" alt="{{ sponsor.name }}">
                        <!--                        <p>{{ sponsor.name }}</p>-->
                    </a>
                </li>
                {% endfor %}
                {% endif%}
            </ul>
            {% endif%}
            {% if sponsor_group.group == "Silver Sponsors" %}
            <h5>{{ sponsor_group.group }}</h5>
            <ul class="list-inline">
                {% if sponsor_group.elements.size > 0 %}
                {% for sponsor in sponsor_group.elements %}
                <li {% if sponsor.width != null %}style="width: {{ sponsor.width }};"{% endif %}>
                    <a href="{{ sponsor.link }}" target="_blank">
                        <img style="width: unset; height: 100px;" src="{{ site.baseurl }}/img/sponsors/{{ sponsor.imageUrl }}" title="{{ sponsor.description }}" alt="{{ sponsor.name }}">
                        <!--                        <p>{{ sponsor.name }}</p>-->
                    </a>
                </li>
                {% endfor %}
                {% endif%}
            </ul>
            {% endif%}
            {% endfor %}
            <p>See <a href="{{ site.baseurl }}/sponsorship/#our-sponsors">who else is supporting us</a>.
                We have a number of <a href="{{ site.baseurl }}/sponsorship/#sponsorship-packages">sponsorship packages</a> available.
            </p>
            <a href="{{ site.baseurl }}/sponsorship/#become-sponsor" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.partnersC4sponsorsButton }}</a>
        </div>
    </div>
    {% else %}
    <div class="content-wrapper" style="padding-left: 50px;">
        <div class="col-lg-10 col-lg-offset-1 text-left">
            <h4 id="become-sponsor" style="padding-top: 20px; padding-bottom: 20px;">Become a Sponsor</h4>
            <p class="text-left">If you would like to become a sponsor, please <a href="mailto:{{ site.email }}">get in touch
            with the conference organisers</a>.</p>
            <h4 id="sponsorship-packages" style="padding-top: 20px; padding-bottom: 20px;">Sponsorship Packages</h4>
            <p class="text-left">We have a number of sponsorship packages available
                (download <a href="{{ site.baseurl}}/img/sponsors/PMAPS 2022_Sponsorship_Packages.pdf">sponsorship packages</a> as a PDF document).</p>

            <table class="table table-striped sponsorship">
                <thead class="thead-dark">
                <tr>
                    <th scope="col"><strong>Sponsorship package</strong></th>
                    <th scope="col"><strong>Platinum</strong></th>
                    <th scope="col"><strong>Gold</strong></th>
                    <th scope="col"><strong>Silver</strong></th>
                    <th scope="col"><strong>Bronze</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Cost</th>
                    <td>£12000</td>
                    <td>£6000</td>
                    <td>£3000</td>
                    <td>£1500</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color: #888888; color: #FFFFFF;"><strong>Pre-conference branding</strong></th>
                    <td style="background-color: #888888;"></td>
                    <td style="background-color: #888888;"></td>
                    <td style="background-color: #888888;"></td>
                    <td style="background-color: #888888;"></td>
                </tr>
                <tr>
                    <th scope="row">Quantity</th>
                    <td>1</td>
                    <td>3</td>
                    <td>5</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <th scope="row">Logo on the homepage</th>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <th scope="row">Logo on the sponsors page</th>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <th scope="row">Website link</th>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <th scope="row">Website Company advert/description (words)</th>
                    <td>300</td>
                    <td>100</td>
                    <td>50</td>
                    <td>50</td>
                </tr>
                <tr>
                    <th scope="row">Promotional company video (up to 2 minutes)</th>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color: #888888; color: #FFFFFF;"><strong>Conference programme</strong></th>
                    <td style="background-color: #888888;"></td>
                    <td style="background-color: #888888;"></td>
                    <td style="background-color: #888888;"></td>
                    <td style="background-color: #888888;"></td>
                </tr>
                <tr>
                    <th scope="row">Advert</th>
                    <td>Colour full page</td>
                    <td>Colour half page</td>
                    <td>Colour quarter page</td>
                    <td>None</td>
                </tr>
                <tr>
                    <th scope="row">Logo on front (cover) page</th>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
                <tr>
                    <th scope="row">Logo on sponsors page</th>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <th scope="row">Company description (words)</th>
                    <td>300</td>
                    <td>100</td>
                    <td>50</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th scope="row">Social events</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">5 minute talk at conference dinner</th>
                    <td>Yes</td>
                    <td>No</td>
                    <td>No</td>
                    <td>No</td>
                </tr>
                <tr>
                    <th scope="row">Verbal acknowledgement at social event, opening ceremony and welcome ceremony</th>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>No</td>
                    <td>No</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color: #888888; color: #FFFFFF;"><strong>At conference</strong></th>
                    <td style="background-color: #888888;"></td>
                    <td style="background-color: #888888;"></td>
                    <td style="background-color: #888888;"></td>
                    <td style="background-color: #888888;"></td>
                </tr>
                <tr>
                    <th scope="row">Talk in opening ceremony</th>
                    <td>Yes</td>
                    <td>No</td>
                    <td>No</td>
                    <td>No</td>
                </tr>
                <tr>
                    <th scope="row">Invited participation in panel session</th>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>No</td>
                    <td>No</td>
                </tr>
                <tr>
                    <th scope="row">Exhibition space</th>
                    <td>Yes (3x3 m<sup>2</sup>)</td>
                    <td>Yes (2x2 m<sup>2</sup>)</td>
                    <td>No</td>
                    <td>No</td>
                </tr>
                <tr>
                    <th scope="row">Logo on all conference signage (scaled to suit)</th>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <th scope="row">Inserts in conference bag</th>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>No</td>
                </tr>
                <tr>
                    <th scope="row">Free conference registration passes</th>
                    <td>4</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
            <h4 id="individual-sponsorship-items" style="padding-top: 20px; padding-bottom: 20px;">Individual Items & Events</h4>
            <p>Exhibition space 2x2 m<sup>2</sup> - 9 opportunities available @ £2,000</p>
            <p>Exhibition space 3x3 m<sup>2</sup> - 4 opportunities available @ £3,000</p>
            <p>Welcome reception support, with banners and welcome speech - 1 opportunity available @ £3,000</p>
            <p>Gala dinner support, with banners and speech - 1 opportunity available @ £5,000</p>
            <p>Lunch support, with banners - 4 opportunities available @ £2,000</p>
            <p>Coffee break support, with banners - 7 opportunities available @ £1,000</p>
            <p>Poster session support with logo on each board - 6 opportunities available @ £1,000</p>
            <p>Online advertising: </p>
            <ul style="font-weight: normal;">
                <li>Three months £750 </li>
                <li>Six months £1,500</li>
                <li>Nine months £3,000</li>
            </ul>
            <h4 id="our-sponsors" style="padding-top: 20px; padding-bottom: 20px;">Our Sponsors</h4>
            <p class="text-left">We gratefully acknowledge the support of our sponsors.</p>
            {% for sponsor_group in site.data.sponsors %}
            <h5>{{ sponsor_group.group }}</h5>
            <ul class="list-inline">
                {% if sponsor_group.elements.size > 0 %}
                {% for sponsor in sponsor_group.elements %}
                <li {% if sponsor.width != null %}style="width: {{ sponsor.width }};"{% endif %}>
                    <a href="{{ sponsor.link }}" target="_blank">
                        <img style="width: unset; height: 100px;" src="{{ site.baseurl }}/img/sponsors/{{ sponsor.imageUrl }}" title="{{ sponsor.description }}" alt="{{ sponsor.name }}">
<!--                        <p>{{ sponsor.name }}</p>-->
                    </a>
                </li>
                {% endfor %}
                {% else %}
                <p>To be announced.</p>
                {% endif%}
            </ul>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</section>
<!-- End Sponsorship Section -->

