<section id="tutorials">
    <div class="content-wrapper" style="padding-left: 50px;">
    <div id="tutorials" class="col-lg-10 col-lg-offset-1 text-left">
        <h4 style="text-align: left">Tutorials</h4>
        <p class="text-left">We are delighted to announce that we have three exciting tutorials to offer when registering for the conference.</p>
        <p class="text-left">All tutorials take place on Sunday 12 June and last for half a day. They are either scheduled for the morning session (running from 09:00 to 12:30) or for the afternoon session (running from 13:30 – 17:00). Please check the tutorial details for timings. All times are given on UK local time (GMT+1). Every tutorial will be delivered online by experts with experience delivering high quality online learning experiences.</p>
        <p class="text-left">Each tutorial costs £60. You will be able to book places when you register.</p>
        <p class="text-left">We have tutorials on the following topics</p>
        <p class="text-left"><a href="{{ site.baseurl }}/tutorials/#tutorial-1">Flexibility and Resilience in Future Low-Carbon Energy Systems</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/tutorials/#tutorial-2">Reliability in Power Electronics-Dominated Power Systems</a></p>
        <p class="text-left"><a href="{{ site.baseurl }}/tutorials/#tutorial-3">Evolution of Electricity Markets in the Face of Uncertain Power System and Emerging Trends</a></p>
        <br>
    </div>
    <div id="tutorial-1" class="col-lg-10 col-lg-offset-1 text-left">
            <h5 style="text-align: left">Tutorial 1 - Morning Session (09:00-12:30)</h5>
            <h6 style="text-align: left; font-size:22px">Flexibility and Resilience in Future Low-Carbon Energy Systems</h6>
            <p class="text-left"><strong>Speakers:</strong></p>
            <table class="tutorial-1" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><strong>Dr Mathaios Panteli</strong>,<br>University of Cyprus</td>
                    <td style="font-weight:normal" width="25%" align="center"><strong>Dr Rodrigo Moreno</strong>,<br>Universidad de Chile, Chile, and Imperial College London, UK</td>
                    <td style="font-weight:normal" width="25%" align="center"><strong>Prof Pierluigi Mancarella</strong>,<br>The University of Manchester, UK and The University of Melbourne, Australia</td>
                    <td style="font-weight:normal" width="25%" align="center"><strong>Dr Eduardo Alejandro Martínez Ceseña</strong>,<br>The University of Manchester, UK</td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/people/tutorialspeaker/1Mathaios Panteli Photo.png" height="200" width="150"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/people/tutorialspeaker/1Rodrigo Moreno Photo.png" height="200" width="150"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/people/tutorialspeaker/1Pierluigi Mancarella Photo.png" height="200" width="150"></td>
                    <td style="font-weight:normal" width="25%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/people/tutorialspeaker/1Eduardo Alejandro Martinez Cesena Photo.png" height="200" width="150"></td>
                </tr>
                </tbody>
            </table>
            <br>            
            <p class="text-left"><strong>Motivation:</strong></p>
            <p class="text-left">
            Traditional network planning and operation standards are driven by deterministic security and adequacy principles. Undoubtedly, this resulted in the secure operation of the critical electrical power infrastructure for decades. However, these standards and practices are becoming less effective as energy systems are experiencing a rapid transition, including the increasing penetration of intermittent and distributed renewable energy sources, the growing interactions and interdependencies between critical sectors and different energy vectors, and the significant impacts of climate change.
            </p>
            <p class="text-left">
            To tackle these challenges, new tools that properly capture the probabilistic nature and uncertainty of the rapidly changing energy landscape are required to develop more resilient and flexible energy systems by capitalizing on emerging smart solutions based on new technologies, active network management and different energy vectors (e.g., electricity, heat and gas).
            </p>
            <p class="text-left"><strong>What you will learn:</strong></p>
            <p class="text-left">
            This tutorial provides an overview of recently developed state-of-the-art investment planning and operational tools from award-winning international projects. These probabilistic, risk-averse tools explicitly address uncertainty (e.g., decision and real options theory) related to highly uncertain system evolution, as well as low probability high impact events. Real world studies (including Europe, Latin America and Australia) are used to demonstrate the tools with a wide range of case studies, including real distribution and transmission networks and community multi-energy systems.
            </p>
            <p class="text-left">
            The tutorial first covers two of the most prominent aspects of modern infrastructure planning and operation, namely, the need to design systems that can cope with deep levels of uncertainty and extreme but rare events. An overview of the different levels of uncertainty (from certain to unknown futures) are described first before presenting existing investment planning techniques (e.g., decision theory and real options analysis) and novel stochastic programming and optimization tools. Afterwards, the importance of considering extreme (high impact low probability) events through risk-averse and resilience-informed planning and operation is discussed, and appropriate risk and resilience metrics along with cascading and probabilistic models are introduced to facilitate this paradigm shift.
            </p>
            <p class="text-left">
            The second half of the tutorial is dedicated to illustrate the application of the abovementioned tools using real-world examples across the globe and a variety of extreme events (e.g., windstorms, earthquakes and wildfires). The proposed stochastic programming tools, which excel at the use of flexibility as a means to tackle uncertain changes, are illustrated through examples involving active distribution networks, smart buildings, and community multi-energy systems. Next, applications of resilient cascading modelling in blackout risk quantification and infrastructure investment decision-making are presented, followed by planning, operation and regulatory standards for resilience-informed design of the low-carbon grid against extreme events.
            </p>
            <br>
    </div>
    <div id="tutorial-2" class="col-lg-10 col-lg-offset-1 text-left">
            <h5 style="text-align: left">Tutorial 2 - Morning Session (09:00-12:30)</h5>
            <h6 style="text-align: left; font-size:22px">Reliability in Power Electronics -Dominated Power Systems</strong></h6>
            <p class="text-left"><strong>Speakers:</strong></p>
            <table class="tutorial-2" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="40%" align="center"><strong>Prof Mahmoud Fotuhi-Firuzabad</strong>,<br>Sharif University of Technology, Iran</td>
                    <td style="font-weight:normal" width="20%" align="center"></td>
                    <td style="font-weight:normal" width="40%" align="center"><strong>Ass. Prof Saeed Peyghami</strong>,<br>Aalborg University, Denmark</td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="40%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/people/tutorialspeaker/2Mahmoud Fotuhi-Firuzabad Photo.png" height="200" width="150"></td>
                    <td style="font-weight:normal" width="20%" align="center"></td>
                    <td style="font-weight:normal" width="40%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/people/tutorialspeaker/2Saeed Peyghami Photo.png" height="200" width="150"></td>
                </tr>
                </tbody>
            </table>
            <br>            
            <p class="text-left"><strong>Motivation:</strong></p>
            <p class="text-left">
            Power electronics are the underpinning part of future power systems. Reliability as the long-term performance indicator is of paramount importance for design and manufacturing of power electronic converters in different applications, in particular for design and planning of future power grids with dominated power electronic devices. 
            </p>
            <p class="text-left"><strong>What you will learn:</strong></p>
            <p class="text-left">
            This tutorial aims to address the basics of reliability modeling, evaluation and enhancement taking into account the physics of failure mechanisms from device-level up to system-level in power electronic systems. Model-based hierarchical reliability assessment and enhancement in power electronic based power systems will be presented. Different applications including microgrids, PV systems, wind systems, etc. will be discussed. This will help both power electronics and power system engineers to design, strengthen, and maintain power electronic converters as well as to perform optimal planning and operation of modern power systems.
            </p>
            <p class="text-left">
            This tutorial will star by providing an overview of reliability assessment of power electronics systems. This will include the necessary definitions and the challenges associated with reliability assessment in modern electrical systems. The tutorial will then describe the building blocks needed to assess reliability in power electronics dominated systems – including topics such as availability modelling with constant and non-constant failure rates, reliability functional zones, indices for reliability quantification and the techniques commonly used. With these building blocks in place, aspects related to power electronics will be covered. This will include reliability modelling of converters, mode-based reliability assessment of power electronics systems, microgrid assessment (including the impact of converter design) and reliability of power systems with wind and solar power plants. 
            </p>
            <br>
    </div>
    <div id="tutorial-3" class="col-lg-10 col-lg-offset-1 text-left">
            <h5 style="text-align: left">Tutorial 3 - Afternoon Session (13:30 – 17:00)</h5>
            <h6 style="text-align: left; font-size:22px">Evolution of Electricity Markets in the Face of Uncertain Power System and Emerging Trends</strong></h6>
            <p class="text-left"><strong>Speakers:</strong></p>
            <table class="tutorial-3" align="center">
                <tbody>
                <tr>
                    <td style="font-weight:normal" width="100%"><strong>Dr Jeremy Lin</strong>, Principal, 7X Analytics Consulting, USA</td>
                </tr>
                <tr>
                    <td style="font-weight:normal" width="50%" align="center"><img class="img-square" src="{{ site.baseurl }}/img/people/tutorialspeaker/3Jeremy Lin Photo.png" height="200" width="150"></td>
                </tr>
                </tbody>
            </table>
            <br>            
            <p class="text-left"><strong>Motivation:</strong></p>
            <p class="text-left">
            Electricity markets in the US have been in existence for over two decades. Although those markets went through trials and tribulations at the beginning of their journey, they have been well run for many years. Electricity markets in the US include capacity market, energy market, ancillary services markets, in conjunction with secondary markets such as renewable energy credits (REC) markets and bilateral markets. Those markets have been running so well for the past decade that they are reaching a steady-state equilibrium. On the surface, it appears that no changes are needed in these markets for the foreseeable future. 
            </p>
            <p class="text-left">
            Electricity markets in the US have been in existence for over two decades. Although those markets went through trials and tribulations at the beginning of their journey, they have been well run for many years. Electricity markets in the US include capacity market, energy market, ancillary services markets, in conjunction with secondary markets such as renewable energy credits (REC) markets and bilateral markets. Those markets have been running so well for the past decade that they are reaching a steady-state equilibrium. On the surface, it appears that no changes are needed in these markets for the foreseeable future. 
            </p>
            <p class="text-left">
            The outburst of renewable energy growth has a significant impact on both the power grid operation and market design because the probabilistic nature and uncertainty created by the uncertain output by these variable energy resources has created some challenges to the power system planning and market operation. To deal with those issues, electricity markets such as Cal-ISO and MISO have come up with flexible ramping products and operating reserve products to manage those uncertainties.
            </p>
            <p class="text-left"><strong>What you will learn:</strong></p>
            <p class="text-left">
            In this tutorial, the first topics to cover include the drivers for the development of electricity industry restructuring in the US, the development of electricity markets, and the descriptions and functions of various markets. Later topics include the fundamental changes in the power grid in terms of transmission, generation, environmental and technologies, and how these developments are affecting the rethinking of the existing market designs and subsequent market operation. The latest developments on these fronts at the relevant electricity markets will be presented at the second part of the tutorial. 
            </p>
            <br>
    </div>   
</div>
</section>