<div class="row">
    <div class="under-construction col-lg-12 col-sm-12 col-md-12">
        <div class="col-lg-10 col-sm-10 col-md-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            This site is under construction, it is not officially live yet and some information present here
            is not complete. Please return once the conference
            is officially announced via the official channels.
        </div>
        <div><img src="{{ site.baseurl }}/img/under-construction-2408062_640.png" width="250" alt="under construction"></div>
        <!-- Credit: https://pixabay.com/illustrations/under-construction-construction-sign-2408062/ -->
    </div>
    <div class="col-lg-2 col-sm-2 col-md-2" ><p> </p></div>
</div>