<!-- Begin Venue Location Section -->
<section id="venue" class="team">
    <div class="content-wrapper" style="padding-left: 50px;">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 style="text-align: left;">Venue: Pendulum Hotel & Manchester Conference Centre</h4>
            <p class="text-left">Conference will be held at the
                <a href="{{ site.venueLink }}" target="_blank">{{ site.venueTitle }}</a>, {{ site.venueAddress }}, {{ site.venueLocality }}
                (see <a href="{{ site.venueMapLink }}" target="_blank">location on Google map</a>).
                This is a purpose built conference venue near the historical heart of the University, within easy reach of Manchester Piccadilly and Oxford Road train stations
                and only a short stroll from Manchester city centre.
            </p>
        </div>
    </div>
</section>
<section id="venue-map" style="padding: 0px;">
    <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=15QIIbv47fC58joW79Z5vKcccyFiWxadK" width="100%" height="700px"></iframe>
    <div class="content-wrapper" style="padding-left: 50px;">
        <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-1 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0" style="font-weight: 300; margin-top: -450px; background-color: #ffffff; padding: 10px 30px 10px 30px;">
                <h5>Venue</h5>
                <ul>
                    <li><a href="{{ site.venueLink }}" target="_blank">{{ site.venueTitle }}</a></li>
                    <li>{{ site.venueStreetAddress }}</li>
                    <li>{{ site.venueLocality }}</li>
                </ul>
        </div>
    </div>
</section>
<!--<section id="location-map" class="location-map">-->
<!--    <div id="canvas-map" class="canvas-map"></div>-->
<!--    <div class="content-wrapper" style="padding-left: 50px;">-->
<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-1 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0">-->
<!--            <div class="row">-->
<!--                <div class="pull-left">-->
<!--                    <h3>{{ site.locationBlockTitle }}</h3>-->
<!--                    <ul>-->
<!--                        {% if site.eventLocationName %}<li>{{ site.eventLocationName }}</li>{% endif %}-->
<!--                        <li>{{ site.eventStreetAddress }}</li>-->
<!--                        <li>{{ site.eventAddressLocality }}</li>-->
<!--                        &lt;!&ndash;                        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>&ndash;&gt;-->
<!--                        &lt;!&ndash;                        <li>&ndash;&gt;-->
<!--                        &lt;!&ndash;                            {% assign startTime = site.eventStartTime | split: "T" %}&ndash;&gt;-->
<!--                        &lt;!&ndash;                            <time>{{ startTime[1] }}</time> - &ndash;&gt;-->
<!--                        &lt;!&ndash;                            {% assign endTime = site.eventEndTime | split: "T" %}&ndash;&gt;-->
<!--                        &lt;!&ndash;                            <time>{{ endTime[1] }}</time>&ndash;&gt;-->
<!--                        &lt;!&ndash;                        </li>&ndash;&gt;-->
<!--                    </ul>-->
<!--                </div>-->
<!--                &lt;!&ndash;                <a href="{{ site.baseurl | append: '/logistics/#find-way' }}" class="pull-right">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <svg class="icon icon-direction" viewBox="0 0 32 32">&ndash;&gt;-->
<!--                &lt;!&ndash;                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-direction"></use>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </svg>&ndash;&gt;-->
<!--                &lt;!&ndash;                </a>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- End Venue Location Section -->