<section id="visa-info" class="team">
    <div class="content-wrapper" style="padding-left: 50px;">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 style="text-align: left;">Visa Info</h4>
            <p class="text-left">
                <a href="https://www.gov.uk/check-uk-visa" target="_blank">Check if you require a visa </a>to travel to the UK
                on the official UK Government website.
            </p>
            <p class="text-left">Details for delegates requiring a visa to travel to the UK will be added in due course.</p>
        </div>
    </div>
</section>
