<!-- About Section -->
<section id="welcome" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-left" style="padding-left: 20 px; background-color: #FFFFCE; border-bottom: 1px solid #e7e7e7; border-top: 1px solid #e7e7e7;">
            <p class="text-left"><strong>The submission deadline for final papers has been extended to 25th April.</strong></p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-left" style="padding-left: 20 px; background-color: #FFFFCE; border-bottom: 1px solid #e7e7e7; border-top: 1px solid #e7e7e7;">
            <p class="text-left"><strong>Due to the ongoing very high COVID case rates in the UK and around the world, and the uncertainty with respect to future travel opportunities, we have decided to host PMAPS 2022 as a fully online conference to maximise the participation of our research community. We know that this will change the decisions of some people with respect to submitting papers and attending, so we are further extending the submission deadline (one last time!) until the 14th February 2022. If you have already submitted a paper, we will contact all corresponding authors directly.</strong></p>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>
            {{ site.aboutTitle }}
            <p style="float:right; margin-top: 0px; margin-left: 20px;">
                <img class="img-circle" src="{{ site.baseurl }}/img/people/jovica_milanovic2.png"
                     height="128" width="128" alt="Jovica Milanović, Conference Chair">
                <span style="font-size: 80%; line-height: normal;"><br>Prof. Jovica V Milanović<br>General Chair</span>
            </p>
            </h3>
            <p class="text-left">
                On behalf of the PMAPS <a href="{{ site.baseurl }}/committees/#steering-committee">International Steering Committee</a> and the
                <a href="{{ site.baseurl }}/committees/#local-committee">Local Organising Committee</a> I cordially
                invite you to attend the 17th International Conference on Probabilistic Methods Applied to Power
                Systems, PMAPS 2022. The conference is technically sponsored by the
                <a target="_blank" href="http://www.ieee-pes.org/">IEEE Power & Energy Society (PES)</a>
                and hosted by the <a target="_blank" href="http:/www.eee.manchester.ac.uk/">Department of Electrical
                and Electronic Engineering</a> of the
                <a target="_blank" href="http:/www.manchester.ac.uk/">University of Manchester</a>, UK.
                <a href="{{ site.baseurl }}/about-pmaps">PMAPS 2022</a> will be an international forum on several <a href="{{ site.baseurl }}/author-info/#technical-themes">technical themes</a> with an <a href="{{ site.baseurl }}/programme">exciting programme</a> including:
            </p>
            <div class="row about-details">
                {% assign animationDelay = 0 %}
                <div class="col-lg-offset-1 col-md-offset-1 col-xs-offset-1 text-center"></div>
                {% for about in site.aboutBlock %}
                {% assign colWidth = 10| divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6 text-center">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5 style="font-size: 20px;"><a href="{{ site.baseurl }}/{{ about.permalink }}">{{ about.title }}</a></h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/about-section/{{ about.image }}"
                             height="128" width="128" alt="{{ about.title }}">
                        <p style="font-size: 90%;">{{ about.text }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %}
                <div class="clearfix visible-xs"></div>
                {% endif %}
                {% endfor %}
            </div>
            <p class="text-left">
                PMAPS 2022 will give individuals working in industry and academia a great opportunity to network, exchange ideas, and discuss the results of their practical experiences, research and development work in the areas of probabilistic modelling and efficient computational and mathematical methods to deal with inherent uncertainties in power systems.
            </p>
            <p class="text-left">
                To acknowledge and encourage excellence in power system uncertainty research by students, <a
                    href="https://www.ieee-pes.org/roy-billinton-power-system-reliability-award" target="_blank">
                the Roy Billinton Award</a> will be awarded. Eligibility for the award is restricted to papers which are first-authored by a student.
            </p>
<!--            <p class="text-left">
                <a href="{{ site.baseurl }}/venue-travel#about-manchester">Manchester</a>, the birthplace of the Industrial Revolution, has developed from the first industrialised
                city in the
                world in the 19th century to the second most populous urban area in the UK with rapidly growing culture,
                media,
                music, sports and transport connections enjoyed by 2.55 million people. By taking part in PMAPS 2022 you
                will
                contribute to the long history of Manchester, leading the way in industrial development, this time
                leading the
                way in application of new methods, tools and practices for safe planning and operation of sustainable
                power
                systems.
            </p>-->
            <p>
                I am looking forward to meeting you in June 12-15, 2022.<br>
                Professor Jovica V Milanović, General Chair, 17th PMAPS, Online, 2022<br>
<!--                <img class="img-circle" src="{{ site.baseurl }}/img/people/jovica_milanovic_square.jpg"-->
<!--                     height="128" width="128" alt="Jovica Milanović, Conference Chair">-->
            </p>
        </div>
    </div>
</section>
<!-- End About Section -->
